/* =========================================================================
  ## GRID
============================================================================ */
/* ===============================================================
  ### GRID CONTAINER
================================================================== */
.grid-container {
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

/* ===============================================================
  ### GRID ITEMS
================================================================== */
.cell {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

.col-1-sm {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}

.col-2-sm {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.col-3-sm {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.col-4-sm {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.col-5-sm {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}

.col-6-sm {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}

.col-7-sm {
  -ms-grid-column-span: 7;
  grid-column: span 7;
}

.col-8-sm {
  -ms-grid-column-span: 8;
  grid-column: span 8;
}

.col-9-sm {
  -ms-grid-column-span: 9;
  grid-column: span 9;
}

.col-10-sm {
  -ms-grid-column-span: 10;
  grid-column: span 10;
}

.col-11-sm {
  -ms-grid-column-span: 11;
  grid-column: span 11;
}

.col-12-sm {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

@media (min-width: 700px) {
  .col-1-md {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .col-2-md {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .col-3-md {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .col-4-md {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .col-5-md {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .col-6-md {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .col-7-md {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .col-8-md {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .col-9-md {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }
  .col-10-md {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
  .col-11-md {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }
  .col-12-md {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}
@media (min-width: 1025px) {
  .col-1-lg {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .col-2-lg {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .col-3-lg {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .col-4-lg {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .col-5-lg {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .col-6-lg {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .col-7-lg {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .col-8-lg {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .col-9-lg {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }
  .col-10-lg {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
  .col-11-lg {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }
  .col-12-lg {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}
/* ========================= #### IMAGES IN GRID ITEMS ========================= */
.cell img {
  max-width: 100%;
}

/* ===============================================================
  ### GRID GAPS
================================================================== */
.grid-gap-10 {
  grid-gap: 10px;
}

.grid-gap-30 {
  grid-row-gap: 30px;
  grid-column-gap: 10px;
}

.grid-gap-50 {
  grid-row-gap: 50px;
  grid-column-gap: 10px;
}

@media (min-width: 375px) {
  .grid-gap-30, .grid-gap-50 {
    grid-column-gap: 30px;
  }
}
@media (min-width: 700px) {
  .grid-gap-50 {
    grid-column-gap: 50px;
  }
}
/* =========================================================================
  ## IE LAYOUT FIXES
============================================================================ */
/*IE ONLY STYLE FIXES*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*Places each row in grid-container in it's own row by default*/
  .cell {
    grid-column: 1;
  }
  .cell:nth-child(1) {
    -ms-grid-row: 1;
  }
  .cell:nth-child(2) {
    -ms-grid-row: 2;
  }
  .cell:nth-child(3) {
    -ms-grid-row: 3;
  }
  .cell:nth-child(4) {
    -ms-grid-row: 4;
  }
  .cell:nth-child(5) {
    -ms-grid-row: 5;
  }
  .cell:nth-child(6) {
    -ms-grid-row: 6;
  }
  .cell:nth-child(7) {
    -ms-grid-row: 7;
  }
  .cell:nth-child(8) {
    -ms-grid-row: 8;
  }
  .cell:nth-child(9) {
    -ms-grid-row: 9;
  }
  .cell:nth-child(10) {
    -ms-grid-row: 10;
  }
  .cell:nth-child(11) {
    -ms-grid-row: 11;
  }
  .cell:nth-child(12) {
    -ms-grid-row: 12;
  }
  .cell:nth-child(13) {
    -ms-grid-row: 13;
  }
  .cell:nth-child(14) {
    -ms-grid-row: 14;
  }
  .cell:nth-child(15) {
    -ms-grid-row: 15;
  }
  .cell:nth-child(16) {
    -ms-grid-row: 16;
  }
  .cell:nth-child(17) {
    -ms-grid-row: 17;
  }
  .cell:nth-child(18) {
    -ms-grid-row: 18;
  }
  .cell:nth-child(19) {
    -ms-grid-row: 19;
  }
  .cell:nth-child(20) {
    -ms-grid-row: 20;
  }
  .cell:nth-child(21) {
    -ms-grid-row: 21;
  }
  .cell:nth-child(22) {
    -ms-grid-row: 22;
  }
  .cell:nth-child(23) {
    -ms-grid-row: 23;
  }
  .cell:nth-child(24) {
    -ms-grid-row: 24;
  }
  .cell:nth-child(25) {
    -ms-grid-row: 25;
  }
  .cell:nth-child(26) {
    -ms-grid-row: 26;
  }
  .cell:nth-child(27) {
    -ms-grid-row: 27;
  }
  .cell:nth-child(28) {
    -ms-grid-row: 28;
  }
  .cell:nth-child(29) {
    -ms-grid-row: 29;
  }
  .cell:nth-child(30) {
    -ms-grid-row: 30;
  }
  /*Fixes 2-column page template layout*/
}
@media screen and (-ms-high-contrast: active) and (min-width: 700px), (-ms-high-contrast: none) and (min-width: 700px) {
  main .grid-container .subnav {
    margin-right: 50px;
  }
  main .grid-container #page-content {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
.sb-body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sb-heading {
  padding: 0.5rem 1rem;
  background: #9FB7D1;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.sb-heading h1 {
  font-size: 28px;
}
.sb-heading a {
  background-color: #50576D;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  text-decoration: none;
}
.sb-heading a:hover, .sb-heading a:focus {
  background-color: #3B414E;
  color: white;
}
.sb-heading div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sb-main {
  margin: 1rem;
}

.sb-section {
  background-color: #E7EDF2;
  border: 1px solid #9FB7D1;
  border-radius: 10px;
  padding: 0.25rem 1rem;
  margin-bottom: 1rem;
}
.sb-section h2 {
  margin-bottom: 0;
}
.sb-section .sb-nav ul li {
  margin-bottom: 0.5rem;
}
