@use "../../common/css/scss/variables" as *;

/* ==================================================================================
   # Staff Side Header
===================================================================================== */

.staff-site-name {
  display: block;
  border-left: 1px solid $white;
  align-content: center;
  font-family: $font-family;
  padding: 0.5rem $site-padding;
  margin-left: 0.75rem;

  font-size: 1.25em;
  font-weight: 300;
  color: $white;
}

@media (min-width: $breakpoint-md) {
  .staff-site-name {
    border-left: 1px solid $gray-04;
    margin-left: $site-padding;
    font-size: 2rem;
    font-weight: 300;
    color: $gray-04;
  }
}

.header-simple {
  .site-name {
    a {
      font-size: 1rem;
    }
    .site-title {
      font-size: 1.25rem;
    }

    .staff-site-name {
      border-left: 1px solid $white;
      color: $white;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .header-simple {
    .site-name {
      a {
        font-size: 1.15rem;
      }
      .site-title {
        font-size: 1.5rem;
      }

      .staff-site-name {
        font-size: 1.75rem;
      }
    }
  }
}

/* ==================================================================================
   # Layout 
===================================================================================== */
.mason-grid {
  column-count: 1;
  column-gap: 30px;
  row-gap: 30px;

  .cell {
    //   background-color: pink;
    //  outline: 1px solid blue;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 30px;
    break-inside: avoid;
  }
}

@media (min-width: $breakpoint-md) {
  .mason-grid {
    column-count: 2;
    column-gap: 30px;
    row-gap: 30px;
  }
}

/* ==================================================================================
   # Containers 
===================================================================================== */
.blue-box {
  background-color: $blue-01;
  border: $border;
  padding: 1rem;
  //  margin-bottom: 1rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p:first-of-type {
    margin-top: 0;
  }
}

/* ==================================================================================
   # Content 
===================================================================================== */
/* ----------------------------------------------------------------------------------
  ## Link + Description, used in Resources & Reports landing pages
------------------------------------------------------------------------------------- */

.link-description {
  a {
    font-size: 1.25rem;
  }
}

.sm-description {
  p {
    max-width: 900px;
  }
}

/* =========================================================================
  ## Forms  - Used on Reports and Dashboards
============================================================================ */
.inlined-inputs {
  .question {
    display: block;
  }
  fieldset,
  input,
  select {
    display: block;
  }
}

@media (min-width: $breakpoint-sm) {
  .inlined-inputs {
    .question {
      display: inline-block;
    }
    fieldset,
    input,
    select {
      display: inline-block;
    }
  }
}

.filter-box {
  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0; //Only needed if we decide to go with the blue-block version
  }

  .question {
    padding-bottom: 0.5rem;
    margin-right: 1rem;
  }
  .radcheck div {
    margin-bottom: 0rem;
  }
  .parent-legend {
    font-size: 1.05rem;
  }
  button {
    margin-top: 0;
  }
  .nigp-codes {
    margin-bottom: 1rem;
    .accordion {
      .nigpClassSection:last-of-type {
        margin-bottom: 1rem;
      }
    }
    #selectedNIGPCodeDisplay {
      p {
        margin: 0;
      }
      p.header {
        margin-top: 1px;
      }
    }
  }
}

/* ==================================================================================
   # Specific Pages
===================================================================================== */

/* ----------------------------------------------------------------------------------
  ## Ebidding
------------------------------------------------------------------------------------- */

#ebid-dash {
  h2 {
    margin-bottom: 0.5rem;
  }
  h3 {
    margin-bottom: 0;
  }
}

//Tables that have checkboxes or radio buttons in them
.radcheck-table {
  input[type="radio"],
  input[type="checkbox"] {
    transform: scale(2);
    accent-color: $secondary;
  }
  .radcheck-th {
    width: 40px;
  }
}

