
// ============ BASE COLORS ============ //
$Primary-Blue: #13294B;
$Primary-Blue-Dark: #0C1D36;

$Accent-Blue-1: #0455A4;
$Accent-Blue-1-Dark: #014486;

$Accent-Blue-2: #1F4096;
$Accent-Blue-2-Dark: #112968;

$UIC-Red: #D50032;
$UIS-Blue: #003366;
$UIUC-Orange: #FF5F0F;


$Citron-1: #D9E1AE;
$Citron-2: #BFD46D;
$Citron-3: #6A7F18;
$Citron-4: #2F4120;

$Gray-Blue-1: #BED5E0;
$Gray-Blue-2: #6FAFC7;
$Gray-Blue-3: #216EA0;
$Gray-Blue-4: #216EA0;


$Periwinkle-1: #BAC4DB;
$Periwinkle-2: #758CB8;
$Periwinkle-3: #4F6898;
$Periwinkle-4: #3B445B;

$Salmon-1: #FFB1AB;
$Salmon-2: #EE5E5E;
$Salmon-3: #BB3F3E;
$Salmon-4: #912C30;

$Teal-1: #A2BFBE;
$Teal-2: #579593;
$Teal-3: #0D605E;
$Teal-4: #094948;

$Yellow-1: #FFE79C;
$Yellow-2: #FFD125;
$Yellow-3: #D7AA02;
$Yellow-4: #966E13;
$Yellow-5: #75570F;


$Gray-1: #F7F9FB;
$Gray-2: #E8E9EA;
$Gray-3: #C4C6C8;
$Gray-4: #A5A8AA;
$Gray-5: #7F8588;
$Gray-6: #4f575a;

$Gray-7: #374045;

$Black: #000000;
$White: #FFFFFF;




// ============ SITE STYLING ============ //
$header-text: $Primary-Blue;

$text: $Black;
$link: $Accent-Blue-1;
$link-hover: $Teal-3;
$link-visited: $Periwinkle-3;

$text-darkBG: $White;
$link-darkBG: $White;
$link-hover-darkBG: $Citron-2;
$link-visited-darkBG: $Gray-1;
$link-visited-darkBG: $Gray-Blue-1;

