@use 'settings' as *;

/* ==========================================================================
  ## INTRO BOX STYLING
  ========================================================================== */
  .introBoxes {
    display: flex;
    flex-direction: column;
    .box {
      border: 1px solid $site-color;
      padding: $site-spacing;
      display: inline-block;
      max-width: 500px;
      margin-bottom: $site-spacing;
      h3 {margin-top: .5rem;}
      p {line-height: 120%;}
      input, select {
        margin-right: .25rem;
        margin-bottom: .25rem;
      }
    }
    .box:last-of-type {
        margin-right: 0;
        flex-shrink: 1;
    }
}

.smallIntro {
    .box {
      padding: .75rem $site-spacing;
      h3 {
        font-size: 1rem;
        margin: 0 0 .5rem 0;
      }
      label, button, select, input {font-size: 14px;}
    }  
}

 @media (min-width: 915px) {
    .introBoxes {     
        flex-direction: row;
        .box { 
            min-width: 250px;
            margin-bottom: 0;
            margin-right: $site-spacing;
        } 
   }
}