@use 'settings' as *;

  .heading-content-align {
    h2 {display: inline-block; margin-right: 1rem}
    .align-content {
        display: inline-block;
        margin-right:.75rem;
        margin-bottom: .5rem;
        select, input {margin-right: .5rem}
    }
  }

  .icon-key-datatable-wrapper {
    display: none;
    background-color: $icy-light;
    outline: $light-gray 1px solid;

    padding: .5rem 1rem;
    max-width: max-content;

    .icons-defs {
      margin-top:.25rem;
    }

    .icon-def {
      display: inline-block;
      margin-right: 1rem;
    }
    
    img {max-height: 15px;}

  }

  .asset-list-intro {
    margin: 0 0 1rem 1rem;
    h3 {margin: 0;}
    p {margin: .25rem 0 }
  
  }

  .icon-key {
    display: inline;
    p {
      margin: 0;
      margin-right: .5rem;
      font-weight: bold;
      display: inline;
    }
    .icons-defs{display: inline-block;}
    .icon-def {
      margin-right: .75rem;
      display: inline-block;
    }
    img {max-height: 15px;}


  }
 
  
  .sitemap {
    ul {
      list-style: none;
      padding: 0 .5rem;
      li {
        padding: .75rem 0;
      //  outline: 1px solid red;
        ul {
          margin: .75rem 0 0 1rem;
          li:last-of-type {padding-bottom: 0;}
        }
      }
    }
  }




.mass-update-actions {
  input{margin-bottom: 1rem;}
  .callout {
    width: 95%;
    margin:0;
  }
}


@media (min-width: 800px) {
  .mass-update-actions {
    display: flex;

    #massUpdateButtons {
      h4 {margin-bottom: .5rem}

      margin-right: 2rem;
      display: inline-block;
      min-width: min-content;
      max-width: max-content;


    }
    .callout-containter {max-width: 650px;}
    .callout {
      h5 {font-size: 1em; margin: .75rem 0;} 
      .callout-text {
        p:first-of-type {font-weight: normal;}
      }
    }
  }
}

