// ==========================================================================
  // ## Variables
//  ========================================================================== 


// ============ BASE COLORS ============ //
  $primary-blue: #0D78BE;
  $primary-dark: #0B558E;
  $primary-bright: #6ABDEA;
  $slate: #3F4958;
  $inky: #25354a;
  $inky-dark: #10213B;
  $icy: #E9F1F8;
  $icy-light: #F5F6F7;
  $it-blue: #c4d4e6;
  $green: #4B8502;
  $dark-green: #417505;
  $plum-dark: #5A2784;
  $red: #B12D00;
  $red-dark: #800000;
  $yellow: #ffae00;
  $gold-dark: #E5BD30;

  $black: #0a0a0a;
  $white: #fefefe;
  $lightest-gray: #F0F0F0;
  $light-gray: #e6e6e6;
  $medium-gray: #cacaca;
  $dark-gray: #8a8a8a;
  $darkest-gray: #595959;

  $link: $primary-dark;
  $link-hover: $dark-green;
  $link-visited: $plum-dark;
  $error: $red;

  $site-spacing: 1em;



  // ============ SITE STYLING ============ //
  $site-color: $slate; 
  $site-color-dark: $inky; 

  $nav-color: $site-color;
  $module-hover: $site-color-dark;
  $module-text: $site-color;
  $app-name-color: $site-color;
  