@use 'settings' as *;

/* ==========================================================================
   ## TABS
   ========================================================================== */

.blue-tabs-tabs__list {
    margin: 0;
    padding: 0;
  }
  
  .blue-tabs-tabs__item {
    display: block;
  
  }
  
  .blue-tabs-tabs__link {
    display: block;
    padding: 1em;
    font-size: 15px;
    font-weight: bold;
    background-color: $icy;
    color: $primary-dark;
  
    border: none;
    cursor: pointer;
  }
  
  [aria-selected="true"].blue-tabs-tabs__link {
    color: $white;
    background-color: $primary-blue;
  }
  
  .blue-tabs-tabs__link:hover {
    border: none;
    background-color: $primary-dark;
    cursor: pointer;
    color: $white;
  }
  
  .blue-tabs-tabs__content {
    background: $white;
    border: 1px solid $medium-gray;
    border-top: none;
  
    padding: 1em;
  }
  
  [aria-hidden="true"].blue-tabs-tabs__content {
    display: none;
  }
  
  @media (min-width: 800px) {
  
    .blue-tabs-tabs__item {
      display: inline-block;
    }
  
    .blue-tabs-tabs__link {
      padding: 1em  2em;
      width: fit-content;
    }
  
    .blue-tabs-tabs__content {
      border-top: 10px solid $icy;
    }
    
  }

  