@use 'variables' as *;

/* CONTAINERS ----------------------------------------------------------------
    ## CALLOUTS
    ## ACCORDIONS
    ## TABS
    ## MODALS 

--------------------------------------------------------------------------------------- */

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## CALLOUTS
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//generic gray callout 
.callout {
    border: none;
    border-left: 6px solid $dark-gray;
    background-color: $wash;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

//yellow notice callout
.notice {
    border-color: $orange-4;
    background-color: $orange-1;
    color: $inky;
}

//Red warning callout 
//currently used on selectApp page of request access if they try to proceed without selecting anything
//this used be call ".warning" but then the styling gets overridden but foundations warning styling 
.warn {
    border-color: $peach-dark;
    background-color: $peach-lightest;
    color: $peach-dark;
}

//Positive Green Callout, success/acknowledgement 
.ack {
    border-color: $success-mid;
    background-color: $success-light;
    color: $success-dark;
}



//Err-callout is a Red error callout that has a ! icon
//reiminder-callout is a brown reminder callout with a tied string around finger icon
.err-callout,
.reminder-callout {
    border-color: $error;
    background-color: $alert-lightest;
    font-weight: 700;
    color: $error;
    background-image: $error-circle;
    background-position: 10px 14px;
    background-repeat: no-repeat;
    padding-left: 48px;
}

.reminder-callout {
    color: #5F2323;
    border-color: #5F2323;
    background-image: $reminder-icon;
}


//"Action Needed" callout used on dashboard. Has red ! icon and a x close button 
.callout-act-needed {
    background-color: $white;
    display: block;
    background-image: $error-circle;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 10px 20px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: $alert-dark;
    font-size: 1.125rem;
}



//Missing an application note (NeedsReview - Note/text styling, could be made generic) 
.missing {
    padding: .75rem 1.2rem .75rem 2.25rem;
    background-color: #FFEE8A;
    border-radius: $global-radius;
    display: inline-block;
    background-image: $lightbulb-icon;
    background-repeat: no-repeat;
    background-position: 4px 10px;
}






/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Accordions
    Use standard Foundation accordions, with some additional styles (below)
    There are unique styles or the "access-list"" accordions on the 
    Request Access page, found with the Request Access styles. 
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.accordion-title {
    padding-left: 2.5rem;
}
.accordion-title::before {
        content: "";
        position: absolute;
        left: .75rem;
     //   top: 8px;
        width: 17px;
        height: 16px;
       background-image: $accordion-arrow-lg;        
        background-position-y: center;
        background-repeat: no-repeat;
}


.is-active>.accordion-title::before {
            content: "";
         transform: rotate(90deg);
}

.accordion-title:hover,
.accordion-title:focus {
    background-color: $wash;
//    background-color: $ground;

}

.accordion-content {
    padding: .2rem 1rem;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## TABS
    Use standard Foundation tabs
    These additional classes can be added for styling, c
    urrently used on the USC "Submissions in progress" page
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//added to ul alongside the "tabs" class
.pagepanel {
    border: none;
    padding-top: 1.75rem;

    a {
        font-size: 1.1rem;
        padding: 0 0 .25rem 0;
        @include plainlink();
        font-weight: 400;
    }

    a:hover,
    a:focus {
        border-bottom-color: $primary-dark;
        border-bottom-style: solid;
    }

    .is-active {
        border-bottom: 2px solid $orange-4;

        >a:link {
            font-weight: 700;
            color: $primary-dark;
        }

    }

    .is-active a:hover,
    .is-active a:focus {
        border-bottom-color: transparent;
    }

    .tabs-title {
        float: none;
        display: block;
        margin: 0 0 .5rem 0;

        @include breakpoint(large) {
            display: inline-block;
            margin-right: 3rem;
        }


    }


    .tabs-title:last-child {
        margin-right: 0;
    }

}

//Added to the div alongside the "tabs-content" class
.pagepanel-content {
    border: none;
    padding: 0;

    .tabs-panel {
        padding: 0;
    }
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Modals
    Built off of Foundation Reveals 
    Need to go through and clean these styles up, seems to be a lot of inefficiencies/redundances in how they're designed
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
//Overlay effects for all modals
html.is-reveal-open {
    position: relative;
}

.reveal-overlay {
    background: rgba(193, 201, 207, 0.75);
    //background: rgba(22, 21, 21, 0.5);

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}




//General Modal
// As of 1.13.25, not currently used anywhere 
.gen-modal {
    padding: 1.5rem;

    h1 {
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

/*
    hist-modal is used on view access pages to show access history
    
    Form modal is used for modals with forms in them, but that class
    can either be applied on the reveal div or within a larger "settings-popup" reveal
*/

.hist-modal,
.form-modal {
    padding: 1.5rem;

    h1 {
        font-size: 1rem;
        margin-bottom: 0;
        padding: .75rem 0 0 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    h1 span {
        font-size: 1.4rem;
        display: block;
        text-transform: none;
    }
}

//Used in modals that have breadcrumbs (Form, hist, and info), goes around the modal heading and the breadcrumbs 
.modal-top {
    padding-bottom: 1.5rem;
}

.form-modal .modal-top {
    padding: 1rem 1.25rem;
}


.form-modal {
    select {
        max-width: 460px;
    }
}


.info-modal {
    padding: 2rem;

    .modal-top {
        padding-bottom: 1rem;
    }
}


.definition-modal,
.form-modal {
    padding: 1.25rem 2rem;
    border-top: 8px solid $robin;


    h1 {
        margin-bottom: 2rem;
    }

    dd {
        padding-left: 2rem;
        padding-bottom: 1rem;
        ;
    }
}
// #### History Modal, seems to be similar styling as definition modal (NEEDSREVIEW: Modal) ----------------------------------------------------------------------------------
.history {
    border-top: 8px solid #43A5D1;
    padding: 1.5rem;
    width: 100%;
    max-width: 1000px;

    h2 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

/*
Status reveal modal is used for various types of modals used on the 
USC Submissions In Progress 
*/
.status-reveal {
    padding: 0;

    h1 {
        font-size: 1.25rem;
        font-weight: 700;
        padding-bottom: 1rem;

        span {
            font-size: 1rem;
            font-weight: 400;
            display: block;
        }

    }



    h2 {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 0;
    }
}

.status-banner {
    padding: 1.25rem 1.75rem;
    background-color: $wash;
    margin-top: 3rem;
}

.status-body {
    padding: 1.25rem 1.75rem 2.5rem 1.75rem;

}

.blanket-cancel {
    padding: 1.25rem 1.75rem 2rem 1.75rem;
    background-color: $gray-4;
    background-color: $alert-lightest;

    .button {
        background-color: $alert-dark;
        color: $white;
        font-size: .9rem;
    }

    label {
        padding-left: 2rem;
        padding-bottom: 1rem;
        text-indent: -1.4rem;

    }
}


//
.reveal .close-button,
.callout .close-button {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 1.5rem;

    &:hover,
    &:focus {
        background-color: $light-gray;
    }
}

//actionbar - need to review and see if I can combined/consolidate these styles
.reveal .optbar {
    padding: 1rem 0;
    text-align: right;
}

