@use 'variables' as *;

/* TEMPLATE - HEADER  ============================================================================================================================================================================================================
    ## SKIP LINK
    ## IMPERSONATE BAR
    ## HEADER

======================================================================================================================================================================================================================================*/ 

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## SKIP LINK (1.10.24 KD Note - we should replace this with skipto.js as some point
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#skip a,
#skip-nav a {
    background: black none repeat scroll 0 0;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid black;
    color: white;
    left: 45%;
    padding: 8px;
    position: absolute;
    top: -48px;
    transition: top 1s ease-out 0s, background 1s linear 0s;
    z-index: 100;
    font-size: 0.9rem;
}

#skip a:hover,
#skip-nav a:hover {
    text-decoration: underline;
}

#skip a:focus,
#skip-nav a:focus {
    background: $black none repeat scroll 0 0;
    outline: 0 none;
    top: 0;
    transition: top 0.2s ease-in 0s, background 0.5s linear 0s;
    text-decoration: underline;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## IMPERSONATE BAR
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//Impersonate bar, used in non-prod only
.swap {
    color: $white;
    background-color: $magenta-7;
    padding: 0.3rem 0;
    font-weight: 500;

    form {
        margin: 0;
        display: inline-block;
    }

    label {
        color: $white;
    }

    label,
    input[type="text"] {
        display: inline-block;
    }

    input[type="text"] {
        max-width: 140px;
        margin: 0 6px;

        &:focus {
            border-color: $magenta-2;
        }
    }

    .swap-btn {
        font-size: 0.8rem;
        height: 2.4375rem;
        background-color: $magenta-4;
    }

    .swap-btn:focus,
    .swap-btn:hover {
        background-color: $magenta-3;

    }

    .button:focus {
        @include focus-light;
    }

    .otherID {
        display: inline-block;
        padding: 0 1rem 0 0;
    }

    .revertID {
        color: $sky;
        font-size: 0.85rem;
    }

    .revertID:hover,
    .revertID:focus {
        color: $robin;
        text-decoration: underline;
    }

    .mngtmenu {
        text-align: right;
    }

    #mngt-actions {
        background-color: $magenta-7;
        color: $white;
        margin-left: 2rem;
        text-align: left;

        a,
        a:visited {
            color: $sky;
            border-bottom-color: $sky;
        }

        a:hover,
        a:focus {
            color: $robin;
            border-bottom-color: $robin;
        }


        a:focus {
            @include focus-light();
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        ul li {
            padding: 0 0 .75rem 0;
            margin: 0;
        }
    }
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## HEADER
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//Header container (not navigation), goes on a div right inside <header> 
.topbrand {
    @include xy-grid-container;
    padding-top: 20px;
}

/*1.10.25 KD Note - The html has a class "brand" on the cell div within the topband
but that doesn't seem to be defined anywhere in the css*/


//System logo 
.syslogo {
    width: 215px;
    height: auto;
    opacity: .8;

}


//Username and Logout button
.userblock {
    font-size: .9rem;
    padding-bottom: .75rem;
    position: relative;
    display: inline-flex;
    align-items: right;

    @include breakpoint(medium) {
        justify-content: flex-end;
        padding-bottom: 0;
        //align-items: flex-start;
    }
}

//Span for the UIN within userblock"
.sdetail {
    font-size: .8rem;
    color: $gray-6;
    display: block;
    text-align: right;
}


//dropdown toggle for USC/Authorizers switch roles
.setting-btn {
    width: 20px;
    height: 24px;
    display: inline-block;
    margin-left: .25rem;
    background-image: $blue-down-caret;
    background-repeat: no-repeat;
    background-position: center center;
}

.setting-btn:hover,
.setting-btn:focus {
    opacity: .7;
}

//Dropdown panel to switch between USC and Authorizer, augments foundation dropdown-pane class
.dropdown-acct {
    width: auto;
    min-width: 185px;
    font-size: .9rem;
    padding: 0;

    a:link {
        @include plainlink();
        display: inline-block;
        padding: .4rem 1rem;
        font-weight: bold;
        width: 100%;
    }

    a:hover,
    a:focus {
        background-color: $sky;
        text-decoration: underline;
    }
}

//log out button
.log-btn {
    position: absolute;
    right: 8px;
    top: 0;
    max-width: 7rem;

    @include breakpoint(medium) {
        display: inline-block;
        position: relative;
        top: auto;
        right: auto;
    }

    background-color: $smoked-7;
    
    color: $white;
    font-size: .9rem;
    padding-top: .8rem;
    margin-left: 1rem;

    &:focus,
    &:hover {
        background-color: $inky;
    }
}


//div around application name image
.appname {
    padding-bottom: 1rem;

    a {
        @include plainlink;
        display: inline-block;
    }

    a:hover,
    a:focus {
        border-bottom: 1px solid $primary-dark;
    }
}








