/* ## Dashboard Homepage ============================================================================

Currently just has the login error page, "select role" page and the USC Dashboard Homepage, 
may create other non-inbox homepages for other roles in future

==============================================================================================*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### Login Error page
        - Page that appears if user does not have permissions in ARM 
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.er-page {

    margin: 1.5rem 2rem;

    h1 {
        margin: 1.5rem 0;
        color: $alert-color;
        font-weight: 600;
    }
}

.explain {
    font-size: 1.1rem;

    li {
        padding-bottom: .75rem;
        list-style-type: circle;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### Select Role Page
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
//class on <main> 
.path-select {
    background-color: white;
    text-align: center;
    padding-top: 4rem;
}

//Class on <section> that contains the "Select Role" text and the button options
.path-select-opts {
    padding-top: 2rem;

    >div {
        margin: 1.5rem 0;
    }

    a:link,
    a:visited {
        display: inline-block;
        padding: .8rem 1.5rem;
        background-color: $inky;
        color: white;
        border-radius: $global-radius;
        font-size: 1.125rem;
        font-weight: 600;
    }

    a:hover,
    a:focus {
        background-color: $primary-dark;
    }

    a.usc-path:link,
    a.usc-path:visited {
        background-color: $primary-color;
    }

    a.usc-path:hover,
    a.usc-path:focus {
        background-color: $primary-dark
    }

}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### USC Dash
    - Styling for the "For Unit Security Contacts" box on the homepage, could be made more generic than just USC in future
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/// HOMEPAGE DASHBOARD --------------------------------------------------------------//

//USC dash, blue bar in "intro box" - could be made GENERIC
.temp-usc-pullout {
    margin-left: -4rem;
    padding: .25rem 1.75rem .25rem 3.75rem;
    background-color: $robin-light;
    display: inline-block;
    margin-bottom: 1.25rem;
}


// USC Dash - White Intro box --------------------------------------------------

//Graphic images in box (Might need to make this USC class specific in future
.home-feature {
    @include breakpoint(large) {
        background: $white url(../img/home-bgimage.png) right top no-repeat;
        background-size: contain;
    }
}

//Text content in box
.temp-home-oview {
    padding-left: 2.5rem;

    @include breakpoint(large) {
        padding-right: 320px;
    }
}