@use "variables" as *;

/* ## View Access  ============================================================================================================================================================================================================
    ### Search Bar
    ### Search Results Page
    ### View Access Page
        #### View Action page action bar
        #### Access List
        #### History Modal

======================================================================================================================================================================================================================================*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### Search bar
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
//Search box div
.searchbar {
  background-image: radial-gradient(
    circle at 12% 33%,
    #395b8f 0%,
    #213e69 39%,
    #091f41 81%
  );
  color: $white;
  padding: 1rem 1.25rem;
  border-radius: 4px;
  margin-bottom: 2rem;

  label {
    color: $white;
    font-size: 1.1rem;
  }

  .cell {
    align-self: center;
  }

  .input-group {
    margin-bottom: 0;
  }

  .util-btn:focus {
    @include focus-light();
  }

  .error-ov {
    color: $alert-light;
    font-weight: 500;
  }
}

//Div that contains the search input and the "look up" button
.main-lookup {
  input[type="text"] {
    padding: 0.6rem 0.8rem;
    height: 3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: $robin-light;

    &:focus {
      border-color: $robin;

      &::placeholder {
        color: $sea-6;
      }
    }

    &.error {
      border-color: $alert-color;
      border-width: 2px;
    }
  }

  label {
    margin-right: 0.5rem;
    align-self: center;
  }
}

//used in search on USC dash and view access
.search-label {
  @include breakpoint(medium) {
    padding-right: 0.2rem;
  }

  @include breakpoint(large) {
    text-align: center;
  }

  label {
    line-height: 1.2;
    padding-bottom: 0.25rem;
  }
}

//Container for "manage multiple accounts at once" link on search component
.multi-search {
  padding-top: 1.5rem;

  @include breakpoint(medium) {
    text-align: center;
    padding-top: 0;
    padding-left: 1rem;
  }
}

//the actual "manage multiple accounts at once" link in search component
a.rev-link {
  color: $white;
  border-bottom-color: $white;
}

a.rev-link:visited {
}

a.rev-link:hover,
a.rev-link:focus {
  color: $robin-light;
  border-bottom-color: $robin-light;
}

a.rev-link:focus {
  @include focus-light;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### Search Results Page
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

// action bar just on manage access search results (NEEDSREVIEW: actionbar)
.search-actions {
  margin: 2rem 0.5rem 0 0.5rem;

  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
  }
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### View Access Pages
    - Note: The filterbar styling are handled in the Inbox section 
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* #### View action page action bar  (NEEDSREVIEW: actionbar) ---------------------------------------------------------------------------------- */
.viewactions {
  border-top: 1px solid $gray-4;
  padding: 1rem 0;
  margin-top: 3rem;
  display: flex;
}

/* #### Access List ---------------------------------------------------------------------------------- */

//Container for access list on view access pages (includes messages about not having access, filter bar, and accordion list
.access-list {
  @include xy-cell(12);
  margin: 1rem 0 0 0;
  position: relative;
  padding: 0 1.75rem;

  h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
  }

  h3,
  h4 {
    color: $gray-7;
  }

  h3 {
    font-weight: 600;
  }

  h4 {
    font-weight: 600;
  }

  .accordion-title {
    padding: 0.25rem 0.5rem;
  }

  .accordion-content {
    background-color: $wash-light;
  }

  .access-top-level {
    list-style-type: none;
    border-bottom: 1px solid $light-gray;
    margin-left: 1rem;
    margin-bottom: 0;
    h2 {
      font-size: 1.25rem;
    }
    h3 {
      font-size: 1rem;
    }
    h2,
    h3 {
      position: relative;
      padding: 0.25rem 0.25rem 0.25rem 30px;
      margin: 0.25rem 0;
    }

    .accordion {
      border-bottom: 1px solid $light-gray;
    }

    .accordion-content {
      padding: 1rem;
      background-color: $wash-light;
    }
  }

  .accordion-title {
    font-size: 1rem;
    font-weight: 600;
  }

  a.accordion-title:link,
  a.accordion-title:visited {
    @include plainlink;
  }

  .nested-accordion {
    .accordion-title {
      padding: 0 0.25rem;
    }
    .accordion-title:hover,
    .accordion-title:focus {
      background-color: $ground-mid;
    }

    .accordion-content {
      background-color: $ground;
      padding-bottom: 0.05rem;

      .cur-per-list {
        padding-bottom: 0;
      }
    }
  }
}

//Text - User has no current access notes (NeedsReview: text)
.nada {
  font-size: 1.2rem;
  font-weight: bold;
  color: $inky;
  padding-top: 1rem;
}

//styling of "pill" links at top to jump to specific sections
.anchor-links {
  li {
    display: inline-block;
    margin-right: 1rem;
  }

  a:link,
  a:visited {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 1.56rem;
    background-color: $wash;
    border-style: solid;
    border-color: transparent;
  }

  a:hover,
  a:focus {
    background-color: $primary-color;
    color: #fff;
  }
}

//Text that appears when they do not have a profile in an application/subject" ---------------------------------------
.no-profiles {
  font-weight: 600;
  color: $gray-6;
  font-style: italic;
}

// ##### Categories of App/Subject groupings ---------------------------------------
@mixin cat-section($cat-color) {
  padding: 0.25rem 0.5rem 0.25rem 1.5rem;
  margin-bottom: 0.75rem;
  border-left: 4px solid $inky;
  border-radius: 3px;
  border-color: $cat-color;
  h2 {
    color: $cat-color;
  }
}

.cat-section-1 {
  @include cat-section($cat-1);
}

.cat-section-2 {
  @include cat-section($cat-2);
}

.cat-section-3 {
  @include cat-section($cat-3);
}

.cat-section-4 {
  @include cat-section($cat-4);
}

.cat-section-5 {
  @include cat-section($cat-5);
}

.cat-section-6 {
  @include cat-section($cat-6);
}

.cat-section-7 {
  @include cat-section($cat-7);
}

.cat-section-8 {
  @include cat-section($cat-8);
}

.cat-section-9 {
  @include cat-section($cat-9);
}

.cat-section-10 {
  @include cat-section($cat-10);
}

// ##### Current Permissions List ---------------------------------------

.cur-per-list {
  @include breakpoint(medium) {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  > ul {
    margin-left: 1rem;
    padding-bottom: 0.2rem;
    list-style-type: none;
    margin-bottom: 0.75rem;
  }

  > ul >li {
    background-color: $white;
    position: relative;
    padding: 0.5rem;
    //  padding-right: 60px; //old style, before we swtiched to tabs

    border: 1px solid $ground-dark;

    margin-bottom: 0.75rem;
    border-radius: $global-radius;
    font-size: 0.9rem;
  }

  li span {
    //font-style: italic;
  }

  li::marker {
    color: $purple;
  }

  //Used for VPD items
  > ul li.spec-profile {
    border: 1px solid $ground-dark;
    background-color: $ground;
  }

  li.spec-profile .det-level-list li {
    background-color: $ground;
  }
}

//Profile setting details, hidden behind the ... button toggle on <div>s within <li> that
//NEEDSREVIEW - not sure why this is being handled by <divs> within <li>s instead of nested lists

.cur-per-list ul.det-level-list {
  list-style-image: none;
  list-style-type: circle;
  padding: 0;
  margin-bottom: 0;

  li {
    padding: 0;
    border: none;
    margin-bottom: 0;
  }
}

//###### Profile Setting Details and History Snapshot buttons ---------------------------------------



//###### HISTORY SNAPSHOT TOGGLE ---------------------------------------
/*
.history-toggle {
  //  outline: 1px dashed pink;
  // padding: 1rem .5rem 1rem 55px;

  ul {
    li {
      padding: 0;
      border: none;
    }

    .history-highlight {
      border: 1px solid $gray-4;
      border-radius: 5px;
      list-style-type: none;
      margin-bottom: 1rem;

      .history-meta {
        background-color: $sky;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        margin: 0;
        padding: 1rem;

        h3 {
          font-weight: bold;
          display: grid;
          grid-template-columns: auto auto;

          .req-number {
            text-align: right;
            font-weight: normal;
          }
        }

        ul {
          list-style: none;
        }

        p {
          margin-bottom: 0;
          font-style: italic;
        }
      }

      .review-summary {
        padding: 1rem 0 0 0;

        li {
          padding: 0 1rem;
        }

        .lowest-lvl-dets {
          margin-top: 0.25rem;
          li {
            padding-left: 1.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .add-highlight,
    .change-highlight {
      .history-meta {
        h3 {
          padding-left: 1.75rem;
          background-repeat: no-repeat;
          background-position: left 4px;
        }

        p {
          padding-left: 1.75rem;
        }
      }
    }

    .add-highlight {
      .history-meta {
        background-color: $shamrock-light;
        h3 {
          background-image: $green-plus-icon;
        }
      }
    }

    .change-highlight {
      .history-meta {
        background-color: $orange-1;
        h3 {
          background-image: $gold-gear-icon;
        }
      }
    }
  }

  .history-highlight-list {
    margin: 0;
    margin-top: 1rem;
  }
}
*/
//###### HISTORY SNAPSHOT TOGGLE TABS VERSION WIP ---------------------------------------
/* My old WIP version
.tab-det-list{

        padding-right: .5rem !important;
    
    .profile-det-header {
       // display: grid;
       // grid-template-columns: auto auto auto auto;

       display: flex;
        .profile-name {
            outline: 3px dashed pink;
          //  grid-column: 1 / span 3;
          width: 75%;
        }
        .det-tabs  {
            outline: 3px dashed red;
            width: 25%;
            text-align: right;

            .tabs-title {
                outline: 1px dashed green;
                width: max-content;

                text-align: right;
                a {
                    width: 25px;
                  //  display: inline-block;
                    background-size: 25px 25px;
                    text-align: right;

                }
            }
        }
    }
}
.det-tabs {

}

.test1 {
    .content {
        display: none
      }
     // .content:first-of-type {display:block}
      
      a {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 0;
      }
}

*/

/*
.cur-per-list {
    .tab-header {
        display: flex;
        justify-content: space-between;

    }
  .tabs {
    display: flex;
    gap: .5rem;
    //justify-content: space-between;
    // pushes left item left, right items right
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
  //  width: 20%;
    background: transparent;

    li {
        border: none;
        padding: 0;
    }
  }

  .tabs::after {
    content: none;
  }

  .tabs-title, .profile-title {
    flex: 1;
    margin: 0;
  }


  .tabs-title > a {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: $black;
    background: transparent;
  }

  .tabs-title > a:hover,
  .tabs-title > a:focus-visible {
    background: transparent;
    outline: 2px dashed $primary-color;

  }

  .tabs-title > a[aria-selected="true"] {
    .hist-btn,
    .dets-btn {
      filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(2257%) hue-rotate(182deg) brightness(94%) contrast(99%);
    }

    .hist-btn:hover,
    .hist-btn:focus,
    .dets-btn:hover,
    .dets-btn:focus {
      filter: brightness(0) saturate(100%) invert(11%) sepia(7%) saturate(7500%)
        hue-rotate(175deg) brightness(94%) contrast(101%);
    }
  }



  .tabs-content {
    background: transparent;
    padding: 0 1rem;
    border: none;
  }
}
*/

//###### HISTORY/SETTINGS TOGGLE - ACCORDION VERSION  ---------------------------------------

.cur-per-list {
  .tab-header {
    display: flex;
    justify-content: space-between;

    .profile-tabs {
      display: flex;
      gap: .5rem;
      list-style: none;

      a {
        border-bottom: none;
        padding-bottom: 5px; 
      }

      li:focus-visible, a:focus-visible {
        outline: 2px dashed $primary-color;
        border: none;
      }

      li:focus-visible, a:focus, a:focus-visible, a:hover {
        .dets-btn, .hist-btn {
          filter: brightness(0) saturate(100%) invert(11%) sepia(7%) saturate(7500%)
          hue-rotate(175deg) brightness(94%) contrast(101%);
        }
      }
    }
  }
  
}

.dets-btn, .hist-btn {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
//Setting Detail  button on each profile
.dets-btn {
  background-image: $circle-ellipses;
}

//History button on each profile
.hist-btn {
  background-image: $calendar-icon;
}