@use 'variables' as *;


/* ## Request Summary  ============================================================================================================================================================================================================
    Used in various locations to show summary of what's been added/removed/changed as part of the request
    (Request Access profile settings page, Request Access review request page, view access history snapshot)
======================================================================================================================================================================================================================================*/


//List of changes (per application)
ul.review-summary {
    margin: 0 0 1rem 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul.review-summary > li {
    margin: 0 0 0 2rem;
    padding: 0 0 0.8rem 24px;
    background-repeat: no-repeat;
    background-position: left 4px;
  
    span {
      font-weight: 600;
    }
  }
  
  //Added to <li> for deleted profiles
  .mark-del {
    span {
      color: $alert-dark;
    }
    background-image: $red-x-icon;
  }
  
  //Added to <li> for added profiles
  .mark-add {
    span {
      color: $success-dark;
    }
    background-image: $green-plus-icon;
  }
  
  //Added to <li> for changed profiles
  .mark-change {
    span {
      color: $gold-2;
    }
    background-image: $gold-gear-icon;
  }
  
  
.lowest-lvl-dets {
    font-size: .9rem;
    padding-left: 2rem;
    text-indent: -1rem;
    color: $gray-7;   
}

ul.lowest-lvl-dets {
    list-style-type: none;
    text-indent: 0;
    margin: 0 0 0 1rem;
    padding-left: 0;
    
    li {
        background-repeat: no-repeat; 
        background-position: left 4px; 
        padding-left: 24px;
    }

    .mark-add, .mark-del {
        background-size: 17px 17px;
    }
}