@use 'variables' as *;

/* User Target  ============================================================================================================================================================================================================
    Styles related to the "user target" component(s) that display information 
    about the employee who's access is being viewed or for whom a request is being made for

    ## View Access Redo Search
    ## Credit Banner
    ## Target for Request
    ## Other NetIDs
    ## Account Flags
    ## Related Accounts
======================================================================================================================================================================================================================================*/ 

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## View Access Redo Search
    This styling only appears on the View Access pages. 
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Surrounds target-for-req (plus other connected elements like the "other netID" 
toggle and the "separated from university" flag) and the redo search link */
.search-result-header {
    display: block;
      @include breakpoint(medium) {
          display: flex;
          align-items: center;
      }
      
      @include breakpoint(large) {
          align-items: start;
      }
  }
  
  /*Surrounds just user target (plus other connected elements like the "other netID" 
  toggle and the "separated from university" flag). Does not include redo search link*/
  .search-target {
      @include breakpoint(medium) {
          width: 80%;
      }
      @include breakpoint(large) {
          width: 85%;
      }
  }
  
  /*div around the redo search link*/ 
  .redo-search {
      padding: 1rem;
  
      a {
         display: block;
         text-decoration: none;
         border: none
  
      }
  }

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Credit Banner
    Only appears on USC Request Access pages, above target-for-req
    displays what department is making the request 
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.credit-bnnr {
    margin-top: 1.5rem;
    background-color: $orange-1;
    padding: .2rem 1.25rem;
    color: $gold-2;
    display: inline-block;
    font-style: italic;
}

//Appears within credit banner, only appears if USC can submit requests for multiple units
.unit-change {
    font-size: .9rem;
    font-style: normal;
    font-weight: 600;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Target for Request
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//Container for target user information 
.target-for-req {
    background: #0A2043;
    background: linear-gradient(90deg, #0A2043 0%, #335589 100%);
    color: $white;
    padding: 1rem;
    border-radius: $global-radius;
    font-size: .9rem;
    z-index: 10;

    @include breakpoint(medium) {
        display: grid;
        grid-template-columns: 50% 50% ;
    }

    @include breakpoint(large) {
        display: grid;
        grid-template-columns: 40% 40% 20%;
    }


    a:link,
    a:visited {
        color: $blue-gray-light;
        border-bottom: 1px dotted $blue-gray-light;
    }

    a:hover,
    a:focus {
        color: $white;
        border-bottom-color: $white;
        border-bottom-style: solid;
    }

    a:focus {
        @include focus-light();
    }

}

//added to the "target-for-req" div if the target is a system account instead of an individual
.target-sysacct {
    background: #4E055E;
    background: linear-gradient(90deg, #4E055E 0%, #7C078E 100%);
}

.ut-test {

    .target-for-req {
        background: linear-gradient(90deg, #051E35 0%, #08568B 100%);
        background: linear-gradient(90deg, #012B4D 0%, #08568B 100%);

    }
    .target-sysacct {
        background: linear-gradient(90deg, #4E055E 0%, #7C078E 100%);
    }

}

//Section that contains the user/system graphic, user name and job title
.t-bio {
    padding-left: 52px;
}

//Added to same div as t-bio for both individual users and system accounts to style graphic
.t-is-person {
    background-image: $circle-person;
    background-position: 4px 4px;
    background-repeat: no-repeat;
}

//added to system accounts to override graphic with system account graphic
.t-not-person {
    background-image: $circle-at;
}

//Styles user name within t-bio, applied to h2
.t-bio-name {
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0;
}




//There is a t-unit div inbetween t-bio and t-ids but it currently has no styling on it

//Contains user's netID and UIN 
.t-ids {
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 1rem;

    @include breakpoint(large) {
        text-align: right;
        padding-top: 0;
    }
}

//Appears only if user has additional netIDs, toggles display of t-id-list div
.id-issue-toggle {
    font-size: .9rem;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Other NetIDs
    The section that's added under target-for-req if the user has additional NetIDs
    It's display is off by default, it's toggled on by hitting "Additional NetIDs" link in target-for-req
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.t-id-list {
    background-color: $blue-gray-light;
    color: $gray-8;
    margin-top: -2px;
    padding: .75rem 1.25rem;
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Account Flags
    Added under target-for-reg (and #other-netids if relevant) if there is some kind of flag on the account
    Ex: if the user in question has left the university. 
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.t-flagged-acct {
    background-color: $alert-dark;
    color: $white;
    padding: .4rem 1.1rem .4rem 42px;
    display: inline-block;
    background-image: $flag-white;
    background-repeat: no-repeat;
    background-position: 12px 6px;
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Related Accounts
    Section that appears under target-for-req (+ #other-netids and .t-flagged-acct if relevant)
    If user has has other system accounts and/or a linked account
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.related-accts {
    margin: 1rem 1.125rem;
    padding: 0 2rem 0 35px;
    background-image: $purple-at;
    background-position: left top;
    background-repeat: no-repeat;

    h2 {
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 600;
        color: $magenta-5;
        margin-bottom: 0;
    }
}

//Sections within related-acct
.has-sysaccts,
.has-otherIDs {
    background-color: $magenta-1;
    color: $magenta-5;
    width: auto;
    padding: .7rem 1rem;
    margin: .5rem 0;
    border-radius: 4px;

    p {
        font-size: .9rem;
        margin-bottom: 0;
    }

    a:link {
        @include plainlink();
        font-weight: 700;
        color: $magenta-6;
    }

    a:visited {
        color: $gray-7;
    }

    a:hover,
    a:focus {
        color: $primary-dark;
    }
}
