@charset "UTF-8";
/* ==================================================================================
   # GENERAL SITE STYLING
===================================================================================== */
/* =========================================================================
   ## DECORATIVE GRAPHICS LAYOUT
============================================================================ */
.illu-section h1, .illu-section h2, .illu-section h3, .illu-section h4 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.illu-section p {
  margin-top: 0.75rem;
}
.illu-section img {
  max-width: 100%;
}

.decor-illu {
  grid-row: 1;
  text-align: center;
}
.decor-illu img {
  padding-top: 1rem;
  max-width: 200px;
}
@media (min-width: 700px) {
  .decor-illu {
    grid-row: auto;
    text-align: auto;
  }
  .decor-illu img {
    width: 100%;
  }
}

/* ==================================================================================
   # SPECIFIC PAGE STYLING 
===================================================================================== */
/* =========================================================================
  ## HOMEPAGE
============================================================================ */
/* ===============================================================
  ### HOMEPAGE - SEARCH & CTA BLOCK
================================================================== */
.hp-search input {
  width: 100%;
  margin-bottom: 0.5rem;
}
.hp-search button {
  width: 100%;
  margin-bottom: 1rem;
}

.hp-search.error {
  max-width: none;
}
.hp-search.error form {
  padding: 0.75rem;
}
.hp-search.error .hp-search-input label, .hp-search.error .hp-search-input input, .hp-search.error .hp-search-input a {
  margin: 0;
  max-width: 100%;
}

@media (min-width: 1025px) {
  .hp-search.error {
    padding-right: 0;
    margin-right: 1rem;
  }
}
@media (min-width: 475px) {
  .hp-cta {
    grid-column: span 6;
  }
}
@media (min-width: 700px) {
  .hp-search {
    margin-bottom: 1rem;
  }
  .hp-search .hp-search-input {
    grid-column: span 9;
  }
  .hp-search .hp-search-button {
    grid-column: span 3;
    margin-top: 0.85rem;
  }
  .hp-search .hp-search-button button {
    height: 40px;
  }
  .hp-cta {
    grid-column: span 5;
  }
}
@media (min-width: 1025px) {
  .hp-search {
    grid-column: span 6;
    padding-right: 1.5rem;
  }
  .hp-cta {
    margin-top: 1rem;
    grid-column: span 3;
  }
}
/* ===============================================================
  ### HOMEPAGE NEWS
================================================================== */
/* Makes the # of columns adjust based on # of articles, with min column size being 200px */
.hp-news {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.hp-news article {
  padding: 0.5rem 1rem;
  background-color: #F0F5F9;
  border-left: #006EBD 10px solid;
}
.hp-news article h3 {
  margin-bottom: 0;
}
.hp-news article .article-date {
  margin: 0.25rem 0 0 0;
  color: #6C707A;
}

/* ===============================================================
  ### HOMEPAGE - INFORMATIONAL BLURB SECTIONS
================================================================== */
.hp-section {
  margin: 0.5rem auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #C1C6CD;
}
.hp-section .grid-container {
  grid-gap: 10px;
}
.hp-section .hp-blurb-1, .hp-section .hp-blurb-2, .hp-section .hp-blurb-3 {
  grid-column: span 12;
  order: 2;
}
.hp-section .hp-img-1, .hp-section .hp-img-2, .hp-section .hp-img-3 {
  grid-column: 3/span 8;
}
.hp-section img {
  width: 100%;
  margin: 0 auto;
  order: 1;
}
.hp-section .hp-blurb-1 a {
  margin-right: 0.5rem;
}

.hp-section:last-child {
  border-bottom: none;
  padding-bottom: 20px;
}

@media (min-width: 700px) {
  .hp-section {
    border-bottom: none;
  }
  .hp-section .grid-container {
    grid-gap: 20px;
  }
  .hp-section .hp-blurb-1, .hp-section .hp-blurb-3 {
    grid-column: span 7;
    order: 1;
  }
  .hp-section .hp-img-1, .hp-section .hp-img-3 {
    grid-column: span 5;
    order: 2;
  }
  .hp-section .hp-blurb-2 {
    grid-column: span 7;
  }
  .hp-section .hp-img-2 {
    grid-column: span 5;
  }
}
@media (min-width: 1025px) {
  .hp-section .grid-container {
    grid-gap: 30px;
  }
  .hp-section .hp-blurb-1 {
    grid-column: 2/span 5;
  }
  .hp-section .hp-blurb-2 {
    grid-column: 7/span 4;
  }
  .hp-section .hp-blurb-3 {
    grid-column: 3/span 4;
  }
  .hp-section .hp-img-1 {
    grid-column: span 5;
  }
  .hp-section .hp-img-2 {
    grid-column: 3/span 4;
  }
  .hp-section .hp-img-3 {
    grid-column: span 4;
  }
}
@media (min-width: 1135px) {
  .hp-blurb-1 {
    padding-top: 15%;
  }
  .hp-blurb-3 {
    padding-top: 10%;
  }
}
/* ===============================================================
  ### IE FIX - HOMEPAGE 
================================================================== */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* ========================= #### IE FIX - HOMEPAGE CTA/SEARCH & INFO BLURB SECTIONS  ========================= */
  /* ========================= #### IE FIX - HOMEPAGE NEWS SECTION  ========================= */
}
@media screen and (-ms-high-contrast: active) and (min-width: 475px), (-ms-high-contrast: none) and (min-width: 475px) {
  .hp-cta {
    -ms-grid-column-span: 6;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 700px), (-ms-high-contrast: none) and (min-width: 700px) {
  .hp-cta {
    -ms-grid-column-span: 5;
  }
  .hp-search .hp-search-input {
    -ms-grid-column-span: 9;
    margin-right: 1rem;
  }
  .hp-search .hp-search-button {
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    -ms-grid-column: 10;
  }
  .hp-blurb-1, .hp-blurb-2, .hp-blurb-3 {
    -ms-grid-column-span: 7;
  }
  .hp-img-1, .hp-img-2, .hp-img-3 {
    -ms-grid-column-span: 5;
  }
  .hp-section .grid-container .cell {
    -ms-grid-row: 1;
  }
  .hp-img-1, .hp-img-3 {
    -ms-grid-column: 8;
  }
  .hp-blurb-2 {
    -ms-grid-column: 6;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 1025px), (-ms-high-contrast: none) and (min-width: 1025px) {
  .cell.hp-cta {
    -ms-grid-column-span: 3;
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }
  .cell.hp-cta:last-child {
    -ms-grid-column: 10;
  }
  .hp-search {
    -ms-grid-column-span: 6;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .hp-news {
    display: flex;
    flex-wrap: wrap;
  }
  .hp-news article {
    vertical-align: top;
    display: inline-block;
    margin: 0.5rem 0;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 700px), (-ms-high-contrast: none) and (min-width: 700px) {
  .hp-news article {
    width: 40%;
    margin: 0 1rem 1rem 0;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 1025px), (-ms-high-contrast: none) and (min-width: 1025px) {
  .hp-news article {
    width: 25%;
  }
}
/* =========================================================================
  ## REGISTRATION / MY ACCOUNT / UNSUBSCRIBE PAGES PAGES 
============================================================================ */
/* ===============================================================
  ### PROGRESS BAR
================================================================== */
/*Code From https://codepen.io/athimannil/pen/wWPYkQ */
.multi-steps > li.is-active ~ li:before, .multi-steps > li.is-active:before {
  content: counter(stepNum);
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
}
.multi-steps > li.is-active ~ li:after, .multi-steps > li.is-active:after {
  background-color: #E8E9ED;
}

.multi-steps {
  padding-left: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #0a0a0a;
}
.multi-steps > li:before {
  content: "✓";
  content: url("../../common/graphics/icons/icon-check.png");
  display: block;
  margin: 0 auto 4px;
  background-color: #006EBD;
  color: white;
  width: 35px;
  height: 35px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #006EBD;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #006EBD;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active {
  font-weight: bold;
}
.multi-steps > li.is-active:before {
  background-color: #fefefe;
  border-color: #006EBD;
  color: #006EBD;
}
.multi-steps > li.is-active ~ li {
  color: #6C707A;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #E8E9ED;
  border-color: #E8E9ED;
  color: #0a0a0a;
}

/* ===============================================================
  ### SPECIFIC QUESTION STYLING
================================================================== */
/* ========================= #### IPG NUMBER LOOKUP ========================= */
#searchIPGNumber {
  padding-bottom: 1.5rem;
}
#searchIPGNumber .question {
  padding-bottom: 0;
}
#searchIPGNumber .question.error {
  padding-bottom: 1rem;
  margin-bottom: 0.25rem;
}

#ipgSearchResults {
  margin-top: 1rem;
}

/*  IE Fixes for IGP Number Lookup  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #searchIPGNumber {
    display: flex;
    flex-wrap: wrap;
  }
  #searchIPGNumber .error {
    width: 100%;
  }
  #searchIPGNumber #ipgSearch {
    margin-top: 1.25rem;
  }
  #searchIPGNumber #ipgSearchResults {
    display: block;
    width: 100%;
  }
}
/* ========================= #### EMAIL BY REGION/INSTITUTION   ========================= */
#inst .grid-container {
  margin: 0;
}
#inst .grid-container .cell {
  margin: 0;
}
#inst .grid-container .cell div:last-of-type {
  margin-bottom: 0;
}

.error #inst.radcheck [type=checkbox] + label, .error #inst.radcheck [type=radio] + label {
  margin-right: 0;
}
.error #inst.radcheck div:last-of-type .indented {
  margin-left: 2rem;
}
.error #inst.radcheck div:last-of-type [type=checkbox] + label, .error #inst.radcheck div:last-of-type [type=radio] + label {
  margin-bottom: 1rem;
}
.error #inst.radcheck div:last-of-type div:last-of-type [type=checkbox] + label, .error #inst.radcheck div:last-of-type div:last-of-type [type=radio] + label {
  margin-bottom: 0;
}
.error #notificationOptions .more-info-label {
  max-width: 90%;
}

/* ========================= #### UNSUBSCRIBE "OTHER" TEXTAREA  ========================= */
#otherComments {
  width: 500px;
  height: 100px;
}

/* ===============================================================
  ### REGISTRATION CONFIRMATION CARD
================================================================== */
/*Adapted from https://codepen.io/bibiangel199/pen/warevP?editors=1100 */
.reg-card {
  height: auto;
  border: 1px solid #C1C6CD;
  background-color: #fefefe;
  margin-top: 30px;
}
.reg-card h2, .reg-card h3 {
  margin-bottom: 0;
}

.reg-card-content {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
  background: #fefefe;
  text-align: center;
  border-radius: 3px;
}
.reg-card-content img {
  display: block;
  border-radius: 50%;
  margin: -80px auto 0;
  border: #fefefe 10px solid;
  width: 111px;
}

/* =========================================================================
  ##  NEWS & ANNOUNCEMENTS
  Pagination is handled in common css (see _site.scss) 
============================================================================ */
.news-articles article {
  border-bottom: 1px solid #C1C6CD;
  padding-bottom: 0.25rem;
}
.news-articles article h2 {
  font-size: 22px;
  margin-bottom: 0;
}
.news-articles article .article-date {
  color: #6C707A;
  margin-top: 0;
  font-size: 0.9rem;
}
.news-articles article:first-of-type h2 {
  margin-top: 0;
}

/* =========================================================================
  ## VENDOR RESOURCES 
============================================================================ */
/* GLOSSARY */
dt {
  font-weight: bold;
  font-size: 1rem;
  background-color: #6C707A;
  color: #fefefe;
  padding: 0.5rem 1rem;
  margin: 0;
}

dd {
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  background-color: #E8E9ED;
  line-height: 150%;
}

/* =========================================================================
  ## ABOUT  
============================================================================ */
/*Participating Institutions*/
.institutions .illu-section h3 {
  margin-bottom: 0.25rem;
}
.institutions .illu-section p {
  line-height: 135%;
}
.institutions .illu-section p.archive-details {
  color: #6C707A;
  font-style: italic;
  margin: 0;
}

/* =========================================================================
  ## CONTACT PAGE
============================================================================ */
.contact p {
  margin-bottom: 0;
}

/* ========================= #### IE FIX - CONTACT PAGE  ========================= */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contact {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .cell {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }
}
/* ==================================================================================
   # PRINT STYLING 
===================================================================================== */
/* ===============================================================
  ### PRINT STYLES
================================================================== */
@media print {
  .grid-container {
    display: block;
  }
  nav, .header-main .account, .staff-login, .subnav, .filters, .hp-img-1, .hp-img-2, .hp-img-3, .decor-illu {
    display: none !important;
  }
  .illu-section img {
    max-width: 100px;
    display: flex;
  }
  .header-main .site-name .site-title {
    display: inline;
    margin-right: 1rem;
  }
}
