@use 'variables' as *;

/* =========================================================================
   ## CUSTOM STATIC CONTAINERS
============================================================================ */
  // ### CARDS
  // ### CALLOUT BOX
  // ### ATTENTION BOXES



/* ===============================================================
  ### CARDS
================================================================== */
  .card {
    .card-header {
      background-color: $slate;
      padding: .75rem 1rem;

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        color: $white;
        font-size: 18px;
      }
    }

    .card-body {
      border: $border;
      padding: .75rem 1rem;

      p {margin: 0 0 1rem 0;}

    }
  }

  .blue-card {
    .card-header {
      background-color: $primary-dark;
      color: $white;
    }
  }

  .yellow-card {
    .card-header {
      background-color: $yellow;
      border: $border;
      border-bottom: 0px transparent solid;

      h1, h2, h3, h4, h5, h5, p {color: $black; font-weight: bold;}
      
    }
  }

  .red-card {
    .card-header {
      background-color: $red;
      color: $black
    }
  }

  .green-card {
    .card-header {
      background-color: $green-dark;
      color: $black
    }
  }


  .plain-card {
    border: $border;

    .card-header {
      background-color: transparent;
      padding-bottom: 0;
      h1, h2, h3, h4, h5, h5, p {
        color: $black; 
        font-weight: bold;
        font-size: 1.35rem;
      }
    }

    .card-body {
      border: none;
    }

  }


/* ===============================================================
  ### CALLOUT BOX
================================================================== */
  .callout {
    background-color: $blue-01;
    border-left: solid 10px $primary-blue;
    padding: .5rem 2rem;
    margin: 0 .5rem;

    h2 {font-size: 18px}
    ol, ul {
      li {margin: .25rem 0;}
    }
  }

  /* ========================= #### IE FIX - CALLOUT BOX  ========================= */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .callout {margin-bottom: 1rem;}
    
    @media (min-width: $breakpoint-md) {
      .callout {margin-left: 1rem;}
    }
 
  }

/* ===============================================================
  ### ATTENTION BOXES
================================================================== */
  // UPDATED 11.09.21 - Replaced warning box and warning message with Attention Boxes, which can accomodate a warning and an error style

   .attn-box {
    display: flex;
    border: $border;

    .attn-img{
      width: 20%;
      max-width: 75px;
      content: " ";
      background-image: $icon-warning-white;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: $gray-03;
      padding: .5rem;
    }
    @media (min-width: $breakpoint-md) {
      .attn-img{width: 15%;}

    }

    .attn-mssg {
      width: 80%;
      padding: 0 $site-padding;
      p {
        line-height: 150%;
        margin: $site-padding 0;
      }
    }

  }

  .attn-warning {
    border-color: $warning;
    .attn-img{
      background-color: $warning;
      background-image: $icon-warning-white;

    }
  }

  .attn-crit-error {
    border-color: $error;
    .attn-img{
      background-color: $error;
      background-image: $icon-error-white;

    }
  }

  .attn-success {
    border-color: $success;
    .attn-img{
      background-color: $success;
      background-image: $icon-success-white;

    }
  }


