@use 'variables' as *;

/* ===============================================================
  ### STYLING - BOTTOM DIVIDER
================================================================== */
.bottom-divider {
  border-bottom: $border;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}


/* ===============================================================
  ### STYLING - TEXT 
================================================================== */
.centered {text-align: center}
.font-normal {font-weight: normal}


/* ===============================================================
  ### STYLING - LAYOUT, PADDING, AND MARGIN 
================================================================== */
.inlined {display: inline-block;}
.block {display: block;}


.push-right {margin-right: 1rem;}
.push-bottom {margin-bottom: 1.5rem;} /*UPDATED 11.03.21 - Added push-bottom class*/
.push-top {margin-top: 1.5rem;}
.noTop {margin-top: 0; padding-top: 0;}
.noBottom {margin-bottom: 0; padding-bottom: 0;}


/* ===============================================================
  ### DISPLAY - VISIBILITY 
================================================================== */
.hidden, .offscreen {
  /*"offscreen" is only used in the body of the notices*/ 
  position: absolute;
    top: -10000px;
    left: -10000px;
    clip: rect(1px, 1px, 1px, 1px); /* clip to 1px width and height */
    width: 1px; /* Set width to 1px */
    height: 1px; /* Set height to 1px */
    text-indent: -999em; /* Indent any text so it is not visible */
    overflow: hidden; /* Ensure that contents are not visible beyond 1px boundary */
    word-wrap: normal; /* Fix a JAWS+Firefox scrollbar issue when word-wrap is set */ 
}

.desktop-only {
  display: none;
  @media (min-width: $breakpoint-md) {
    display: block;
  }
}

.show {display:block;}

.noDisplay {display: none !important}


/* ===============================================================
  ### FOCUS STYLING 
================================================================== */
a:focus-visible, button:focus-visible, input:focus-visible, select:focus-visible {
  outline: $black dashed 2px;
  outline-offset: 1px;
  border-style: transparent;
}

/*IE Fix*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a:focus, button:focus {
    outline: $black dashed 2px;
    outline-offset: 1px;
    border-style: transparent;
  }
}
