@use 'variables' as *;

// =========================================================================
  // ## TABLES STYLING
// ============================================================================ 
/*DATATABLE STYLES ARE SET UP IN datatables-style-bulletin.css*/

/* ===============================================================
  ### MARGINS & PADDING
================================================================== */
table {
 border-collapse: collapse;
 th, thead th, tbody th, 
 td, thead td, tbody td {
   text-align: left;
   padding: .75rem;
 }
}

/* ===============================================================
  ### TABLE HEADER
================================================================== */
table {
  width: 100%;

 thead th, thead td, th {
   background-color: $primary-dark;
   border: 1px solid $primary-dark;
   color: $white;
 }

 thead tr {
   th.sorting::before, th.sorting::after, td.sorting::before, td.sorting::after{color: $gray-03;}
   th.sorting_asc::before, td.sorting_asc::before, th.sorting_desc::after, td.sorting_desc::after{color: $white;}
 }
}

/* ===============================================================
  ### TABLE BODY & ROWS
================================================================== */
table  {
 tbody {
   border: $border;
   tr {background-color: $white}
   tr:nth-child(even) {
     background-color: $gray-01;
     background-color: $gray-02;
     background-color: $blue-01;
   }
 }
}
