@use '../../../common/css/scss/variables' as *;

/* =========================================================================
  ##  NEWS & ANNOUNCEMENTS
  Pagination is handled in common css (see _site.scss) 
============================================================================ */

.news-articles{
  article {
    border-bottom: $border;
    padding-bottom: .25rem;
    h2 {
      font-size: 22px;
      margin-bottom: 0;
    }
    .article-date {
       color: $gray-04;
       margin-top: 0;
       font-size: .9rem;
    }
  }

  article:first-of-type {
    h2 {margin-top: 0;}
  }
}


