
@use '../../../common/css/scss/variables' as *;
/* ===============================================================
  ### PRINT STYLES
================================================================== */
@media print  {
    .grid-container {display: block;}
    nav, .header-main .account, .staff-login, .subnav, .filters, .hp-img-1, .hp-img-2, .hp-img-3, .decor-illu {display: none !important;}
    .illu-section img {max-width: 100px; display: flex;}
    .header-main .site-name .site-title {display: inline; margin-right: 1rem}
 }
 
 