/* ==========================================================================
   ## TABS
   ========================================================================== */
.blue-tabs-tabs__list {
  margin: 0;
  padding: 0;
}

.blue-tabs-tabs__item {
  display: block;
}

.blue-tabs-tabs__link {
  display: block;
  padding: 1em;
  font-size: 15px;
  font-weight: bold;
  background-color: #E9F1F8;
  color: #0B558E;
  border: none;
  cursor: pointer;
}

[aria-selected=true].blue-tabs-tabs__link {
  color: #fefefe;
  background-color: #0D78BE;
}

.blue-tabs-tabs__link:hover {
  border: none;
  background-color: #0B558E;
  cursor: pointer;
  color: #fefefe;
}

.blue-tabs-tabs__content {
  background: #fefefe;
  border: 1px solid #cacaca;
  border-top: none;
  padding: 1em;
}

[aria-hidden=true].blue-tabs-tabs__content {
  display: none;
}

@media (min-width: 800px) {
  .blue-tabs-tabs__item {
    display: inline-block;
  }
  .blue-tabs-tabs__link {
    padding: 1em 2em;
    width: fit-content;
  }
  .blue-tabs-tabs__content {
    border-top: 10px solid #E9F1F8;
  }
}
/* ==========================================================================
   ## FORMS & LAYOUTS
   ========================================================================== */
.psuedo-label {
  font-weight: bold;
}

.label-note {
  font-weight: normal;
}

.required {
  color: #800000;
  font-weight: normal;
}

.input-display {
  margin-bottom: 0.5rem;
}

.question label, .question .psuedo-label {
  display: block;
  margin-bottom: 0.25rem;
}

.js-tabcontent .question, .nav-tab-content .question {
  margin: 1rem 0;
}

/* ==========================================================================
   ## Layout Styling
   ========================================================================== */
.info-section {
  background-color: #F5F6F7;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}
.info-section ul {
  padding-left: 1rem;
  list-style: none;
}
.info-section ul li {
  margin: 0.5rem 0;
}

.hor-list {
  display: flex;
  flex-wrap: wrap;
}
.hor-list div {
  margin: 0 2rem 1rem 0;
}
.hor-list div.question {
  margin-top: 1rem;
}

ul.hor-list li {
  list-style: none;
  margin: 0 2rem 1.5rem 0;
}
ul.hor-list li .psuedo-label {
  display: block;
}

/* ==========================================================================
   ## SWIS Asset List
   ========================================================================== */
.asset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.asset-list > li:nth-child(odd) {
  background-color: #F0F0F0;
}
.asset-list ul {
  list-style: none;
}

.asset-item {
  border: 1px solid #8a8a8a;
  padding: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
}
.asset-item h4 {
  margin-top: 0;
}
.asset-item h5 {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 12.5px;
}

.asset-item-heading {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 0.25rem;
}
.asset-item-heading h4 {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.asset-item-heading a {
  margin-right: 0.5rem;
}

.asset-list-info, .child-assets {
  margin-top: 0.75rem;
}
.asset-list-info ul, .child-assets ul {
  padding-left: 0.5rem;
  font-size: 12px;
}
.asset-list-info ul li, .child-assets ul li {
  margin-bottom: 0.5rem;
}

.child-assets ul li {
  margin-bottom: 0.5rem;
}
.child-assets ul li.hor-list div {
  margin: 0 1rem 0.5rem 0;
}

.reclass-asset {
  display: inline;
  margin-right: 1rem;
}

/* ==========================================================================
   ## Tabs Navigation
   ========================================================================== */
nav.nav-tabs {
  background-color: #FFFFFF;
}
nav.nav-tabs ul {
  padding: 0;
  margin: 0;
}
nav.nav-tabs li {
  margin: 0;
  display: block;
  padding: 0;
}
nav.nav-tabs a, nav.nav-tabs input[type=submit] {
  display: block;
  padding: 1em 1.5em;
  font-size: 1.05rem;
  font-weight: bold;
  background-color: #E9F1F8;
  color: #0B558E;
  border: none;
  cursor: pointer;
}
nav.nav-tabs input[type=submit] {
  width: 100%;
}
nav.nav-tabs a.current, nav.nav-tabs input[type=submit].current {
  color: #fefefe;
  background-color: #0D78BE;
}
nav.nav-tabs a:hover, nav.nav-tabs a:focus,
nav.nav-tabs input[type=submit]:hover, nav.nav-tabs input[type=submit]:focus {
  background-color: #0B558E;
  color: #fefefe;
}
nav.nav-tabs a:focus-visible, nav.nav-tabs input[type=submit]:focus-visible {
  outline-offset: 2px;
  outline: #0a0a0a dotted 3px;
}

.nav-tab-content {
  background: #fefefe;
  border: 1px solid #cacaca;
  border-top: none;
  padding: 1em;
}

@media (min-width: 600px) {
  nav.nav-tabs li {
    display: inline-block;
    margin-right: 0.25rem;
  }
  .nav-tab-content {
    border-top: 10px solid #E9F1F8;
  }
}
/* ==========================================================================
   ## Buttons
   ========================================================================== */
a.btn-link, a.btn-link-hollow {
  padding: 0.15rem 0.5rem;
  border-radius: 0.3rem;
}

a.btn-link {
  color: #fefefe;
  background-color: #0D78BE;
  border: none;
}

a.btn-link-hollow {
  color: #0B558E;
  background-color: transparent;
  border: 1px solid #0B558E;
}

a.btn-link:hover, a.btn-link:focus-visible,
a.btn-link-hollow:hover, a.btn-link-hollow:focus-visible {
  background-color: #0B558E;
  color: #fefefe;
  border: none;
}
