//COLORS
$Lightest-Gray: #F0F0F0;
$Light-Gray: #e6e6e6;
$Medium-Gray: #cacaca;
$Dark-Gray: #8a8a8a;
$Darkest-Gray: #595959;
$Black: #0a0a0a;
$White: #fefefe;

$Primary-Blue: #0D78BE;
$Primary-BlueDark: #0B558E;
$Slate: #424C5B;
$Inky: #25344B;

$Icy: #E9F1F8;
$Icy-Light: #F4F8FB;
$Icy-Dark: #D0E4F1;

$Focus-Outline-Blue: #007aff;


/* ==========================================================================================
 ## TABLE OF CONTENT
 ============================================================================================
 ## QUICK CLASS REFERENCE

 ## BASIC STYLES
    ### WRAPPER CONTROLS AND CONTENT
    ### BASIC PADDING AND ALIGNMENT

 ## ADDITIONAL STYLES
    ### TABLE PADDING
    ### TABLE HEADER COLORS
    ### ROW STYLING
    ### TABLE BORDERS
*/


/* ============================================================================
   ## QUICK CLASS REFERENCE
   ============================================================================ */
   /*These are the optional classes that can be applied to the <table> element for more custom styling

   TABLE PADDING
   To increase or decrease the header/row padding beyond the default :
     - "padding_sm" (Smaller table padding)
     - "padding_lg" (Larger table padding)

   HEADER COLOR OPTIONS
   By default the table header will be white with a darker/thicker border bottom.
   To change the header color (along with corresponding font and icon colors) apply one of the following classes:
     - "header_lightGray"
     - "header_darkGray"
     - "header_blue"
     - "header_darkBlue"
     - "header_slate"
     - "header_inky"

   ROW STYLING
   By default all the table rows will be white with a border in between rows.
   To have rows alternate between white and some other color with no borders between rows, apply one of the following classes:
   PLEASE NOTE: Double-check color contrast for links against the blue and lightblue options - standard primary blue will not meet color contrast.
     - "rows_gray"
     - "rows_blue"
     - "rows_lightBlue"

   TABLE BORDERS
   To apply a thin border around the entire table, apply one of the following classes:
     - "tableBorder"
     - "tableBorder_gray"

  */
/* ============================================================================
   ## BASIC STYLES - No Additional classes needed
   ============================================================================ */

/* ====================================
 ### WRAPPER CONTROLS AND CONTENT
 ====================================== */
 /* ===== NUMBER OF RECORDS SHOWN SELECT ===== */
 .dataTables_wrapper .dataTables_length select {
   font-size: 1rem;
   appearance: none;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28108, 112, 122%29'></polygon></svg>");
   background-origin: content-box;
   background-position: right -1rem center;
   background-repeat: no-repeat;
   background-size: 9px 6px;
   padding-right: 1.5rem;
   padding: .35rem;
   padding-right: 1.5rem;
 }


 /* ===== EXPORT BUTTONS ===== */
  button.dt-button, div.dt-button, a.dt-button, input.dt-button {
    padding: .5em 1em .35em;
    margin-bottom: 0;
  }

 /* ===== SEARCH FILTER ===== */
 .dataTables_wrapper .dataTables_filter input {padding: 7px;}

 /* ===== PAGINATION ===== */
 .dataTables_wrapper .dataTables_paginate .paginate_button {
   background-color: $Lightest-Gray;
   margin-left: .25rem;
   margin-bottom: .5rem;
  }


 .dataTables_wrapper .dataTables_paginate .paginate_button.current {background: $Medium-Gray;}

 /* ====================================
  ### BASIC PADDING AND ALIGNMENT
  ====================================== */
  table.dataTable {
    thead > tr {
      th.sorting, td.sorting,
      th.sorting_asc, td.sorting_asc, th.sorting_asc_disabled, td.sorting_asc_disabled,
      th.sorting_desc, td.sorting_desc, th.sorting_desc_disabled, td.sorting_desc_disabled {
       // padding: 1rem 1.25rem 1rem .5rem; 
       padding: 1rem 2.5rem 1rem .5rem; 
      }
    }
    tbody th, tbody td {padding: .5rem}
  }

  table.dataTable.no-footer {margin-bottom: .75rem}

  .dtfh-floatingparenthead {height: auto !important}

  .dataTables_filter{padding-bottom: .75rem}

/* ============================================================================
   ## ADDITIONAL STYLES
   ============================================================================ */
   /* Addtional styling can be added by adding classes to the <table> element.
   See the ## QUICK CLASS REFERENCE section of this file to see the list of these optional styling classes*/

   /* ====================================
      ### TABLE PADDING
      ====================================== */
      /* ======== SMALL PADDING ======== */
      table.dataTable.padding_sm{
        thead > tr {
          th.sorting, td.sorting,
          th.sorting_asc, td.sorting_asc, th.sorting_asc_disabled, td.sorting_asc_disabled,
          th.sorting_desc, td.sorting_desc, th.sorting_desc_disabled, td.sorting_desc_disabled {
            padding: .75rem .5rem ;
          }
        }
        tbody th, tbody td {padding: .25rem .5rem}
      }

      /* ======== LARGE PADDING ======== */
      table.dataTable.padding_lg {
        thead > tr {
          th.sorting, td.sorting,
          th.sorting_asc, td.sorting_asc, th.sorting_asc_disabled, td.sorting_asc_disabled,
          th.sorting_desc, td.sorting_desc, th.sorting_desc_disabled, td.sorting_desc_disabled {
            padding: 1.5rem .5rem ;
          }
        }
        tbody th, tbody td {padding: 1rem .5rem}
      }

   /* ====================================
      ### TABLE HEADER COLORS
      ====================================== */
      /* ======== LIGHT GRAY TABLE HEADER ========*/
      table.header_lightGray {
        thead {
          background-color: $Light-Gray;
          color: $Black;
          tr {
            th.sorting::before, th.sorting::after, td.sorting::before, td.sorting::after{ color: $Darkest-Gray}
            th.sorting_asc::before, td.sorting_asc::before, th.sorting_desc::after, td.sorting_desc::after{color: $Black;}
          }
        }
      }

      /* ======== OTHER COLORS ========*/
      table.header_darkGray thead, table.header_darkGray thead td {background-color: $Darkest-Gray}
      table.header_blue thead, table.header_blue thead td {background-color: $Primary-Blue}
      table.header_darkBlue thead, table.header_darkBlue thead td {background-color: $Primary-BlueDark}
      table.header_slate thead, table.header_slate thead td {background-color: $Slate}
      table.header_inky thead, table.header_inky thead td {background-color: $Inky}

      /*Set inactive sort Icon color for medium-dark backgrounds*/
      table.header_darkGray thead tr, table.header_blue thead tr, table.header_darkBlue thead tr {
        th.sorting::before, th.sorting::after, td.sorting::before, td.sorting::after{ color: $Light-Gray}
      }

      /*Set inactive sort Icon color for darkest backgrounds*/
      table.header_slate thead tr, table.header_inky thead tr, table.header_darkBlue thead tr {
        th.sorting::before, th.sorting::after, td.sorting::before, td.sorting::after{ color: $Medium-Gray}
      }

      /*Set Font color, active sort icon color, and bottom border settings for table headers with darker background colors */
      table.header_darkGray, table.header_blue, table.header_darkBlue, table.header_slate, table.header_inky {
        thead {
          tr {
             th.sorting_asc::before, td.sorting_asc::before,
             th.sorting_desc::after, td.sorting_desc::after{
               color: $White;
             }
             td, th {
               color: $White;
               border-bottom: none;
             }
           }
         }
       }

      /* ======== COLORED TABLE HEADER FIXES ========*/
        /*Adds additional spacing between header and top pagination when using a colored header background */
        table.header_lightGray, table.header_darkGray, table.header_blue, table.header_darkBlue, table.header_slate, table.header_inky {margin-top: .5rem;}


   /* ====================================
      ### ROW STYLING
      ====================================== */
      table.dataTable.no-footer.rows_gray, table.dataTable.no-footer.rows_blue, table.dataTable.no-footer.rows_lightBlue {
        border-bottom:none;
        tbody {
          tr {background-color: $White}
          tr {border: none}
          tr:last-child {border-bottom: 1px solid $Black}
          tr.odd:last-child {border: none}
        }
      }

      table.dataTable.rows_gray {
        tbody {
          tr.odd {background-color:  $Lightest-Gray;}
        }
      } 


      table.dataTable.rows_gray.hover {
        tbody {
         tr:hover {background-color: $Light-Gray;}
        }
      } 


      table.dataTable.rows_lightBlue {
        tbody {
          tr.odd {background-color:  $Icy-Light;}
     //     tr:hover {background-color: $Icy;}
        }
      } 

      table.dataTable.rows_lightBlue.hover {
        tbody {
          tr:hover {background-color: $Icy;}
        }
      } 

      table.dataTable.rows_blue {
        tbody {
          tr.odd {background-color:  $Icy;}
        }
      }
      
      table.dataTable.rows_blue.hover {
        tbody {
         tr:hover {background-color: $Icy_Dark;}
        }
      } 
      



      //Removed Hover Behavior 


   

   /* ====================================
      ### TABLE BORDERS
      ====================================== */
      table.dataTable.no-footer.tableBorder {
        border: 1px solid $Black;
        thead th, thead td {border-bottom: 1px solid $Black;}
      }

      table.dataTable.no-footer.tableBorder_gray {
        border: 1px solid $Medium-Gray;
        thead th, thead td, tbody tr {border-bottom: 1px solid $Medium-Gray;}
      }



