/* TEMPLATE - Footer  ============================================================================================================================================================================================================
    ## SKIP LINK
    ## IMPERSONATE BAR
    ## HEADER
======================================================================================================================================================================================================================================*/ 

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## HELP BAR 
    First part of the footer that contains links to help resources 
    (USC Help Center, USC Lock up, filing support tickets, etc) 
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//Help bar containers
.helpbar {
    font-size: 1rem;
    padding: 1.75rem 0 1.5rem 0;
    background-color: $ground;
}

//ul around the links
.helpbar-links {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        margin: 0 1rem 0 0;
        padding: 0;
        display: inline-block;

        @include breakpoint(medium) {
            margin-right: 3rem;
        }
    }

    li:last-of-type {
        margin-right: 0;
    }

    a:link {
        @include plainlink();
        display: inline-block;
        padding: .3rem 0 .3rem 26px;

    }

    a:link span,
    a:visited span {
        border-bottom: 1px dotted $primary-color;
        opacity: 1;
    }

    a:hover span,
    a:focus span {
        border-bottom: 1px solid $primary-dark;
    }

    //Styling of link to the USC Help Center
    .help-center {
        background-image: url(../img/help-center-off.svg);

        background-position: left center;
        background-repeat: no-repeat;

        &:hover,
        &:focus,
        &:has(a:focus) {
            background-image: url(../img/help-center-on.svg);
        }
    }

    //Styling of link to file a support ticket
    .ticket {
        background-image: url(../img/ticket-off.svg);

        background-position: left center;
        background-repeat: no-repeat;

        &:hover,
        &:focus,
        &:has(a:focus) {
            background-image: url(../img/ticket-on.svg);
        }
    }


    //Styling of link to the USC Lookup
    .lookup {

        background-image: url(../img/lookup-off.svg);

        background-position: left center;
        background-repeat: no-repeat;

        &:hover,
        &:focus,
        &:has(a:focus) {
            background-image: url(../img/lookup-on.svg);
        }
    }

}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Copyright/Policy Bar
    Second  part of the footer that contains copyright information and 
    a link to the privacy policy.
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.copyright {
    background-color: $white;
    color: $gray-6;
    font-size: 0.85rem;
    padding: 0.85rem 0;
    padding: 1rem 0;
}