/* INTERNAL STYLING  ============================================================================================================================================================================================================
    Styling only used for non-prod, devhelp documentation
======================================================================================================================================================================================================================================*/ 

// FOR GUIDE - Added to callout div, used or internal documentation on reference pages (ex: form patterns)
.for-guide {
    border: none;
    background-color: $orange-2;
    font-size: .9rem;
    font-weight: 700;

    p {
        font-weight: 400;
    }
}