@use 'variables' as *;

/* ## Authorizer and Admin Page Styles  ============================================================================================================================================================================================================
    ### Challenge / Other Notes on Request
    ### Request Section 
    ### Request Cards
        #### Request Information 
        #### Request Actions
        #### Request History Panel 
======================================================================================================================================================================================================================================*/ 

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### Challenge / Other Notes on Request
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//Container for display of answers from "Challenge" page of input 
.challenge-answers {
    margin: 2rem 0 1rem 0;

    h2 {
        font-size: 1rem;
        text-transform: uppercase;
        color: $smoked-7
    }
}

//Individual challenge question/answer
.challenge-issue {
    border-left: 4px solid $blue-gray-mid;
    padding: .4rem 1rem;
    color: $primary-dark;
    margin-bottom: 1rem;


}

//Text of the challenge
.challenge-point {
    font-weight: 600;
    margin-bottom: 0;
}

//USC's answer to challenge point
.challenge-disc {
    color: $dark-gray;
    padding-left: 30px;
    background-image: $blue-quotemark;
    background-repeat: no-repeat;
    background-position: 0 3px;
  
}

//USC and Unit name
.challenge-cite {
    display: block;
    font-size: .9rem;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### Request Section 
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//Container for Requests
.judge>h2 {
    font-weight: 600;
}


//Individual Request (or linked requests) sections for when there are multiple requests on page
.auth-section {
    border: 2px solid transparent;
    border-radius: $global-radius;
    padding: .75rem;
    margin-bottom: 1rem;
}

// added to auth-section when it's a linked request
.auth-linked {
    background-color: $teal-1;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ### Request Cards
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//list of requests
.judge-list {
    list-style-type: none;
    margin: 0;
    border-left: 3px solid transparent;

    >li {
        border: 1px solid $ground-dark;
        padding: 0;
        background-color: white;
        border-radius: $global-radius;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom: 1rem;
    }
}

//Used on linked request when one of the requests will be authorized by a different authorizer
.judge-list>li.for-external-unit {
    background-color: $gray-2;

}

li.for-external-unit .item-history-panel {
   background-color: $gray-3;
   button.clear {color: $smoked-7;}
   button.clear:hover, button.clear:focus {color: $primary-dark;}

}



// #### Request Information  --------------------------------------------------------

//Setting information in request
.setting-level {
    grid-area: 1 / 1 / 2 / 2;
    padding: 1rem;

    h3 {
        font-weight: 600;
    }

    .shared-setting {
        background-color: $wash-light;
        border: 1px solid $gray-3;
        border-radius: $global-radius;
        padding: 0.5rem 1rem;
        margin: 1rem 1rem .25rem 1rem;
        
        h4 {font-weight: bold;}
      //  ul {margin-left: 2rem;}

      .accordion {
        background-color: transparent;
        .accordion-title {
            border: none;
            font-size: 1rem;
            padding: .5rem;
            padding-left: 2.5rem;
            border-radius: 0;
        }

        .accordion-item .accordion-title::before {
            background-image: $accordion-arrow-sm;
          }

        .accordion-title:hover {
            color: $smoked-7;
        }
        
        .accordion-title:focus, .accordion-title:hover {
            background-color: transparent;
        }

        .accordion-content {
            border: none;
            background-color: transparent;
            margin-left: 1.6rem;
        }
        
      }
    }

    .justification {
        margin-top: 1rem;
        h4 {font-weight: bold;}
        ul li {list-style-type: circle;}
    } 
}

.for-external-unit .setting-level .shared-setting {
    background-color: $gray-1;
}

//name of application 
.app-name-hilite {
    font-weight: normal;
    font-size: 1rem;
}

.implimentation-date {
    margin: 1rem 0;
    display: inline-block
}

.setting-list {
    list-style-type: circle;
    margin: 0 0 0 1.5rem;
    padding: 0;
}


// #### Request Actions  --------------------------------------------------------

//container for action buttons
.item-action {
    grid-area: 1 / 2 / 2 / 3;
    padding: 1rem;
    text-align: right;
}

//Buttons
.auth-btns {
    legend {
        @include for-sr();
    }

    label {
        width: 36px;
        height: 36px;
        display: inline-block;
    }

    label span {
        @include for-sr();
    }

    label:has(input:focus) {
        @include focus-dark();
    }

    input[type=radio] {
        opacity: 0;
    }

    .auth-ok {
        background: url(../img/auth-ok-off.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .auth-ok:has(input[type=radio]:checked) {
        background: url(../img/auth-ok-on.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .auth-return {
        background: url(../img/auth-return-off.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .auth-return:has(input[type=radio]:checked) {
        background: url(../img/auth-return-on.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .auth-nope, .admin-nope {
        background: url(../img/auth-nope-off.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .auth-nope:has(input[type=radio]:checked), .admin-nope:has(input[type=radio]:checked) {
        background: url(../img/auth-nope-on.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .admin-process {
        background: url(../img/admin-process-off.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .admin-process:has(input[type=radio]:checked) {
        background: url(../img/admin-process-on.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .admin-hold {
        background: url(../img/admin-hold-off.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .admin-hold:has(input[type=radio]:checked) {
        background: url(../img/admin-hold-on.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

}

.auth-btns:has(input[type="radio"]:checked) {

    label:has(input[type="radio"]:not(:checked)) {
        opacity: .6;
    }

}


//Container for text area to explain decision 
.add-explain {
    padding-top: 1.5rem;
    display: none;
}




// #### Request History Panel --------------------------------------------------------
.item-history-panel {
    background-color: $gray-2;
    padding: .4rem 1rem;
    grid-area: 2 / 1 / 3 / 3;
    font-size: .85rem;
   
    .req-num {
        float: right;
    }


}

.history-basic {
    font-style: italic;

    span {
        font-style: normal;
    }
}



//Request history panel that toggles display
.history-panel-more {
    padding: .75rem 0;
    display: none;

    h4 {
        font-weight: 600;
    }
}

.hist-list {
    list-style-type: disc;
    margin: 0 0 0 2rem;
    padding: 0;

    li {
        padding-bottom: .4rem;
        margin: 0;
        padding: 0;
        font-style: normal;
    }
}




// Linked Requests   --------------------------------------------------------


//Note about linked items with link icon that appears at top of the linked section
.about-link {
    font-size: .9rem;
    color: $teal-3;
    font-weight: 600;
    padding-left: 24px;
    background-image:$link-icon;
    background-repeat: no-repeat;
    background-position: 0 2px;
}

//Section for action buttons that apply to the entire linked request
.linked-actions {
    display: grid;
    .item-action {
        padding-top: 0;
        .auth-btns:has(input[type="radio"]:checked) label:has(input[type="radio"]:not(:checked)){
            opacity: 0.85;
        }
        .add-explain {padding-top: .5rem;}
    }
}


//Infomation about who's authorizing the external linked item
.external-dec {
    font-style: italic;
}

