@use 'variables' as *;

a:link.completed-link {
    padding: 0 0 0 30px;
   // min-height: 48px;
    //margin: 1.75rem 0;
    background: $icon_calendar left center no-repeat;
    border-bottom: transparent;

    font-size: 1.25rem; //KD - added so it doesn't have to be put on an h1 to size correctly 
}

a:link.completed-link:hover {
    border-bottom: solid 1px $primary-dark;
}

.small-callout {
    p {
        font-size: 1rem;
    }
}
