@use 'variables' as *;
/* UNUSED / OLD STYLING  ============================================================================================================================================================================================================
SASS that appears to be unused in the current pages, not sure what it's for
OR Stuff that is used on the since revised pages. 
Some of these are used in the stuff that's still in the old reference pages

    ## Variables
    ## HEADER
    ## REQUEST ACCESS
    ## VIEW ACCESS
    ## USER TARGET COMPONENT
    ## SETTINGS PAGE
    ## MULTIPLE SECTIONS
    ## BUTTONS  / Actionbars
    
    ## NOT USED ANYWHERE / UNSURE WHAT IT"S USED FOR

    1.10.25 KD Note - Have organized and added notes about what things are, need to go through and see if any of these classes would be good to keep and use moving forward

======================================================================================================================================================================================================================================*/ 
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## Variables
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    $neutral: #F3F6F9;
    $person: #CDE4F4;
    $finance: #597029;
    $hr: #4B0C3C;
    $pink: #FFD8EA;
    $orange-lightest: #FEEBB9;
    $student: #0E6CA5;

    $teal-blue: #43A5D1;
    $sea-5: #3A96D4;
    $bright-blue: #88bfff;

    /*Older versions of colors
      $form-color: #2984EE;
      $primary-light: #31A1FC;
      $primary-mid: #168AE9;
     $form-outline: #99acb4;
     old student-ones border color: # #89CCFA
     old version of neutral-btn hover #004f71
    #547a92 - old listing table header color
     #DBE5E4 - old .shared-notice  bg
     #EBF3F5 - old linked-req-list external bg
      #E5EAEB - judge-list external bg
      #CBD3D7 - judge-list external history bg
      #1F7093 - cat-banner border and h2
    */

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## HEADER
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
//For Setting icon in header
.prefs {
    opacity: .8;
    padding: .25rem;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

//For switching department in header
.pulldown-look {
    padding: .45rem 1.5rem .45rem .75rem;
    border: 1px solid $aqua-light;
    border-radius: 4px;
    font-size: .9rem;
    width: auto;
    max-width: 220px;
    margin: 0 0 0 .5rem;
    color: #277CA0;

    display: block;
    margin-bottom: .75rem;

    @include breakpoint(medium) {
        display: inline-block;
        margin-bottom: 0;
    }

}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## REQUEST ACCESS  
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
//used on req-access-step3 and req-access-step4 - added to bodycaard div
.change {
    h1 {
        font-size: 1.2rem;
        font-weight: 600;
        color: $gray-6;
        letter-spacing: .05rem;
        text-transform: uppercase;
        padding: .75rem 0;
    }
}

//used on req-access-step3 and req-access-step4 - styling for variation on target user banner
.change-single {
    @include breakpoint(medium) {background-color: $ground;}
    .profile-single {margin: 0;}
}

//used on req-access-step3 and req-access-step4 - styling for submit button
.batch {background-color: #395B8F;}



// ---- req-access-step3.html styles ----- //
//Used on old req-access-step3.html - container entire section that contains profiles list and the submit changes button
.shop-group {
    padding: 1rem;
    margin: 1rem 0;


    h2 {
        // margin-top: -1.75rem;
        //margin-left: -.6rem;
        font-size: 1.1rem;
        color: $slate;
        text-transform: none;
        font-weight: 700;
        margin-bottom: 1rem;

    }

    /*
    h2 span {
        // display: inline-block;
        // background-color: $white;
        // padding: 0 .75rem;
    }
    */
}

//Used on old req-access-step3.html - container for the action buttons/more info/training note on individual profiles
.shop-opts button+button,
.shop-opts button+.button {
    margin-left: 1rem
}

//Used on old req-access-step3.html - more info icon/button in shop-opts
//Replaced info-btn
.definition {
    padding: .5rem;
    min-height: 24px;
    min-width: 24px;
    background-image: $circle-i-bold;
    background-repeat: no-repeat;
    background-position: center;
}

.definition:hover,
.definition:focus {
    filter: brightness(0) saturate(100%) invert(16%) sepia(55%) saturate(3479%) hue-rotate(189deg) brightness(50%) contrast(94%);
}

//Used on old req-access-step3.html - used for the "requires training" section of shop-opts
.training-note {
    font-style: italic;
    color: $gray-6;
    display: inline-block;
    padding: 0 .4rem;
    font-size: .85rem;
}



// ---- Find-method styles ----- //
//Used on old find-method page - seems to be replaced by instruction-ov - TEXT STYLING
.instructions {
    font-size: 1.25rem;
    font-style: italic;
}

//Used on find-methods page  colors for top border and header of the boxes
.analytics {
    border-top-color: #583C00;
    h2 {color: #583C00; }
}

.finance {
    border-top-color: #597029;
    h2 {color: #597029;}
}

.hr {
    border-top-color: #4B0C3C;
    h2 {color: #4B0C3C;}
}

.research {
    border-top-color: #343A88;
    h2 {color: #343A88;}
}

.student {
    border-top-color: $student;
    h2 {color: $student;}
}

.collaboration {
    border-top-color: #253C60;
    h2 {color: #253C60;}
}

.capital {
    border-top-color: $inky;
    h2 {color: $inky;}
}


//Used on find-methods, styling for the div around the checkbox lists within the boxes
.topcat-subs {
    padding: .75rem 0 .75rem 1rem;
}

//Used on find-methods, styling for the fieldsets with the checkbox lists
.choice-checklist legend {
    @include for-sr();
}



//Used on profiles page - Styling for h1 
.result-head {
    font-size: 1.2rem;
    font-weight: 600;
    color: $gray-6;
    letter-spacing: .05rem;
    text-transform: uppercase;
    padding: .5rem 0;
}

//Used on req-access-step4 - container for "cancel" button next to user target
.cart {
    text-align: right;
}

//Used in find-method and profiles - the "Add or edit access" section next to the small version of the user target
.is-for {
    color: $white;
    background: rgb(59, 95, 150);
    background: linear-gradient(180deg, rgba(59, 95, 150, 1) 0%, rgba(9, 31, 65, 1) 100%);
    padding: .8rem 1rem .5rem 1rem;
    text-transform: uppercase;
    text-align: center;

    @include breakpoint(medium) {
        // padding: .75rem 0 .5rem 1.25rem;
    }

    h1 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
}

//find-methods - added to bodycard div 
.find-profiles {
    padding: 0;
}

//Find-methods - big graphic tabs at top of page
.selection-tabs {
    background-color: $ground;
    padding: 1.25rem 1.5rem;

    h1 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
    }

    .tabs {
        border: none;
        background-color: transparent;
        display: grid;

        @include breakpoint(large) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .tabs-title {
        text-align: center;

    }

    a:link {
        @include plainlink();
        display: block;

        font-size: 1.1rem;

        @include breakpoint(medium) {
            padding-top: 150px;
        }
    }

    @include breakpoint(medium) {
        .tabs-title>a.by-search {
            background: url(../img/unused/profile-search-off.png) center top no-repeat;

            &:hover,
            &:focus {
                background: url(../img/unused/profile-search-on.png) center top no-repeat;
            }
        }

        .tabs-title>a.by-browse {
            background: url(../img/unused/profile-browse-off.png) center top no-repeat;

            &:hover,
            &:focus {
                background: url(../img/unused/profile-browse-on.png) center top no-repeat;
            }
        }

        .tabs-title>a.by-copy {
            background: url(../img/unused/profile-copy-off.png) center top no-repeat;

            &:hover,
            &:focus {
                background: url(../img/unused/profile-copy-on.png) center top no-repeat;
            }
        }
    }



    a:hover>span,
    a:focus>span {
        display: block;
        background-color: $white;
    }

    @include breakpoint(medium) {
        .tabs-title>a.by-browse[aria-selected=true] {
            background: url(../img/profile-browse-on.png) center top no-repeat;
        }

        .tabs-title>a.by-search[aria-selected=true] {
            background: url(../img/profile-search-on.png) center top no-repeat;
        }

        .tabs-title>a.by-copy[aria-selected=true] {
            background: url(../img/profile-copy-on.png) center top no-repeat;
        }
    }



    a>span {
        display: block;
        padding: .5rem 1rem;
        margin: 0 1rem;
    }

    .is-active>span,
    .tabs-title>a[aria-selected=true]>span {

        background-color: $white;
        border-radius: 4px;

    }
}

.selection-hint {
    display: block;
    font-size: .9rem;
    padding: .4rem;
    color: $black;
    font-style: italic;
}

.selection-interfaces {
    padding: 1.25rem 1.5rem;
}


//Find-methods - container for boxes 
.browse-boxes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;

    li {
        border-radius: $global-radius;
        border-top-width: 9px;
        border-top-style: solid;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.09);
    }

    h2 {
        font-weight: 600;
        margin-bottom: 0;
        font-size: 1em;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: .75rem 0 .75rem 1rem;
        background-color: $neutral;
    }
}

//Find-methods - Styling for checkboxes where user already has permissions
.curr-prov {
    label {
        font-weight: 700;
    }

    span {
        font-style: italic;
        font-size: .9rem;
    }
}

//profile -  container for the area with the profiles listed
.picker {

    border-left: 6px solid $dark-gray;
    padding: .5rem 0 1rem 2.5rem;
    margin-bottom: .5rem;
    border-radius: $global-radius;

    h2 {
        color: $black;
        font-size: 1.125rem;
        font-weight: 700;
        background-color: #EEF3F7;
        margin-left: -1.75rem;
        display: inline-block;
        padding: .25rem .75rem;
    }

    h3 {
        font-weight: 700;
        font-size: 1.125rem;
    }


    .cat-top {
        // font-size: 1rem;
        font-weight: 400;

    }

}

//profile - container for actions on profile 
.picker-actions {
    justify-self: end;
    text-align: right;

    .button {
        padding: .5rem 1rem;
        font-size: 1rem;

    }

    .clear {
        font-weight: 600;
        background-color: transparent;
    }
}

//Profiles - changes Border color of picker section based on topic
.group-student {border-color: $student;}

.group-finance {border-color: $finance;}

.group-hr {border-color: $hr;}

//profiles - "in cart" green text with checkbox icon next to it - Could be generic 
.added-to-cart {
    display: inline-block;
    padding-left: 30px;
    margin-right: 16px;
    background-image: url(../img/sm-green-check.png);
    background-repeat: no-repeat;
    background-position: left center;
    font-weight: 700;
    color: $green-4;
    color: #5A7227;
}


//profiles - styled "provisioned" text on profile
.prov {
    font-style: italic;
    padding-right: 1rem;
    color: #384E61;
}

//profiles - styled "in progress" text on profile
.prov-prog {
    color: $green-4;
}

//profiles -  "change settings" button on profile
.edit-setting {
    display: block;

    .button {
        font-weight: 700;
        padding-right: .75rem !important;

    }
}

//profiles - styled "submitted mm/dd/yyyy text on profile
.inprogress {
    font-size: .8rem;
    font-style: italic;
    display: block;
}




//profiles - add button on profiles
.pickme {
    background-color: #CDE8F4;
    background-color: #CDE8F4;
    //background-color: transparent;
    color: $primary-color;
    //border: 1px solid #A8C6DC;
    //margin-right: 54px;

    color: $black;

    &:hover,
    &:focus {
        background-color: #04589A;
    }
}

//unused, but grouped with 'pickme' class used on profiles 
.editme {
    margin-right: 0;
}



//profiles - container that includes section of profiles (heading, profile definitions, and actual list of profiles) 
.profile-set {
    border-bottom: 3px solid #ECF0F4;
    margin-bottom: 1rem;
    position: relative;
}

//profiles - profile definitions button  next to section heading
.profile-set-info {
    @include breakpoint(medium) {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
    }


    button {
        padding: .25rem;
        font-size: .8rem;
    }
}

//profiles - container and button styling  "add another topic" button (but it's added to a <p> around a button for some reason) at bottom of profiles page
//also commented out on profiles with comment about adding functionality later
.tagon {
    padding-left: 2.25rem;
}
.add-picks {
    margin-bottom: 0;

    button {
        padding: .5rem 0;
        margin-left: -1.75rem;
        font-weight: 600;
        font-style: italic;
    }

}

// USC Selection pages
.cur-per-list ul.shopping li {
    display: grid;
    padding-right: 10px;
    grid-template-columns: 50% 50%;
    align-items: center;

    @include breakpoint(large) {
        grid-template-columns: 70% 30%;
    }

    //12.18.24 UNUSED - profilename doesn't appear to be used in HTML
    .profilename {
        grid-column: 1;
    }

    //12.18.24 UNUSED - .shop-opts doesn't appear to be used anywhere in html
    .shop-opts {
        grid-column: 2;
        align-self: end;
        text-align: right;
    }
    
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## View ACCESS  
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


//Container for the Redo Search link that appeared next to user target
/*
.redo-search {
    @include xy-cell(12);
    margin: 0;
    padding: .5rem 0;

    @include breakpoint(medium) {
        @include xy-cell(4);
        margin-right: 0;
    }

    @include breakpoint(large) {
        @include xy-cell(2);
        margin-right: 0;
    }
}

//actual link within redo-searchnj
a.cancel-link {
    background-image: url("data:image/svg+xml,%3Csvg%20width='27'%20height='27'%20viewBox='0%200%2027%2027'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cg%20fill='%230469B9'%20fill-rule='evenodd'%3E%3Cpath%20d='M1041.5%20716c-7.45584%200-13.5%206.044156-13.5%2013.5s6.04416%2013.5%2013.5%2013.5%2013.5-6.044156%2013.5-13.5c-0.01199-7.45584-6.04872-13.493548-13.5-13.5zm0%2024c-5.79899%200-10.5-4.70101-10.5-10.5s4.70101-10.5%2010.5-10.5%2010.5%204.70101%2010.5%2010.5c-0.00551%205.797705-4.7033%2010.495487-10.5%2010.5zm4.06-12.44l-2-2%202-2c0.28337-0.283934%200.44286-0.665675%200.44286-1.06s-0.15949-0.776066-0.44286-1.06c-0.58564-0.585873-1.53436-0.585873-2.12%200l-1.94%201.94-1.94-1.94c-0.58564-0.585873-1.53436-0.585873-2.12%200-0.28337%200.283934-0.44286%200.665675-0.44286%201.06s0.15949%200.776066%200.44286%201.06l2%202-2%202c-0.28337%200.283934-0.44286%200.665675-0.44286%201.06s0.15949%200.776066%200.44286%201.06c0.58564%200.585873%201.53436%200.585873%202.12%200l1.94-1.94%201.94%201.94c0.58564%200.585873%201.53436%200.585873%202.12%200%200.28337-0.283934%200.44286-0.665675%200.44286-1.06s-0.15949-0.776066-0.44286-1.06z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    padding: .875rem .425rem .875rem 2rem;
    display: inline-block;
    line-height: 1.2;
    @include plainlink();

}
*/

a.cancel-link:hover,
a.cancel-link:focus {
    filter: brightness(0) saturate(100%) invert(16%) sepia(55%) saturate(3479%) hue-rotate(189deg) brightness(100%) contrast(94%);
}


// Search Results - "Profile returned for" h1 text
.tag {
    margin: 0;
    padding: .25rem;
    font-size: 1rem;
}
/*
.access-list {
    h2 span {
        border-bottom: 6px solid $purple-light;
        display: inline-block;
        padding-right: 5rem;
    }
}
*/
//Groupings of access by application on the old "view access by app" page 
.access-list-byapp {
    h3 {
        font-weight: 700;
        font-size: .9rem;
        padding-left: 20px;
        background-position: left 4px;
    }

    h3:before {
        background-image: none;
    }

    .cur-per-list {
        background-color: #F3F6F9;
    }
}

//Download CSV button on View access page
.view-download {
    justify-self: end;
}

//Hint text that appears under "Edit this Access" button 
.action-hint {
    font-size: .85rem;
    font-style: italic;
    color: $gray-7;
    padding-top: .5rem;
}

//View Access by Apps - the the alphabetical list section
.alpha-list h3 {
    padding-left: 10px;
}

.alpha-list h3:before {
    background-image: none;
}


//Headings of sections within the accordions
/*
(name seems to be left over from old version of view access by app page, 
which differentiated is-an-app and is-data and had different graphics for each.
is-data does not appear to be used anywhere anymore 
*/
.is-an-app {
    font-weight: 600;
    color: $gray-7;

    @include breakpoint(medium) {
        // background: url(../img/app-icon.png) left 5px no-repeat;
        padding-left: 30px;
        margin-left: -20px;
    }
}

//added to the profile listing if it's a VPD
.vpd-dets {
    background-color: #C6D9ED;
    position: relative;
    padding: .5rem;
    margin-left: .8rem;
    border: 1px solid #C5D1E3;
    margin-bottom: .75rem;
    border-radius: $global-radius;
    font-size: .9rem;
}

//History highlight that appears inside the history modal (on View Access bySubject click the second profile's history button to see
.history-hilite {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    border: 1px solid $gray-4;
    border-radius: 5px;
    padding: .5rem .75rem;
    margin-bottom: 10px;
}

//Inside History Highlight, history parts (date, USC/department, action taken (changed/approved/deleted etc) and the date action actually happened) 
.his-pt {
    font-weight: 600;

    span {
        font-weight: 400;
        display: block;
        font-size: .9rem;
    }
}

//Inside History Hightlight
.history-summary {
    grid-column: span 3;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## USER TARGET COMPONENT
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
//Old user target
.is-person .profile-type {
    background-color: $person
}

//Old user target - name
.profile-type-name {
    min-height: 40px;
    padding-left: 48px;

    background-image: $circle-person;
    background-repeat: no-repeat;

    h1,
    h2 {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
        padding: 4px 0 0 0;
    }

}

//Old user target - NetID & UIN
.profile-type-flags {
    @include breakpoint(large) {
        text-align: right;
    }
}

//Old user target - for system accounts
.is-sysacct .profile-type {
    background-color: #DFCEE2;
}

.is-sysacct .profile-type-name {
    background-image: $circle-at;
    background-repeat: no-repeat;
}

//Old user target - Separated from university flag
.separation {
    display: inline-block;
    margin-top: -1px;
    background-color: $alert-dark;
    color: #fff;
    padding: .3rem .75rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

//Not used anywheree
.plus-accts {
    background-color: #9DBFD8;
    margin-top: -2px;
    border-bottom-right-radius: 4px;
    padding: .5rem 1rem;

    @include breakpoint(large) {
        padding-left: 3.2rem;
    }
}

.is-sysacct .plus-accts {
    background-color: #F0E9F2;
}

//results-single is container for the user target + redo search link in View Access pages
//Change-single is the container for user target + cancel link in Request Access pages
.results-single,
.change-single {
    @include xy-grid;
    align-items: center;
    //margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 5px;
}

//User target container 
.profile-single {
    @include xy-cell(12);
    margin: 0;
    border-radius: $global-radius;
    padding-left: 12px;

    @include breakpoint(medium) {
        @include xy-cell(8);
        margin: 0;

    }

    @include breakpoint(large) {
        @include xy-cell(10);
        margin: 0;

    }

    &.is-person {
        background: linear-gradient(#3B5F96, #091F41);
    }

    &.is-sysacct {
        background: linear-gradient(#DE55FE, #77218A);
    }

    &.is-empty {
        background: linear-gradient(#FEBB55, #C47B0D);
    }

    a:link,
    a:visited {
        font-weight: 700;
        color: $primary-dark;
    }
}

.profile-type {
    padding: 1rem .5rem;
    border-bottom-right-radius: $global-radius;
    border-top-right-radius: $global-radius;
}


.profile-type>div {
    @include xy-cell(100%);
    vertical-align: bottom;

    font-size: .9rem;

    @include breakpoint(large) {
        @include xy-cell(33%);
    }

}

.profile-type.min-profile {
    padding: .5rem .2rem;
    margin-left: 0;
    align-items: baseline;

    >div {
        @include breakpoint(large) {
            @include xy-cell(50%);
        }

    }
}

// On find-methods and profiles - smaller version of User target
.target {
    background-color: #A8C6DC;
}

.target-summary {
    padding: .4rem 1.25rem;
    border-top-left-radius: 5px;
    display: grid;
    grid-template-columns: 66.667% 33.334%;
    align-content: center;

    &.is-person {
        background-color: $person; 
    }
}

.target-redo {
    text-align: center;
    align-self: center;

    a:link,
    a:visited {
        color: $primary-dark;
        border-color: $primary-dark;
    }

    a:hover,
    a:focus {
        color: $black;
        border-bottom-style: solid;
        border-color: $black;
    }

}

.profile-ids {
    align-self: center;
    text-align: right;
}

//Older version of "no user found" User target, may want to replaces
.is-empty .profile-type {
    background-color: #FFEBCD;
    font-size: 1.2rem;

    color: #754907;

    p {
        margin-bottom: 0;
    }
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## SETTINGS PAGE 
    Styles specific to the settings page, which we may or may not keep
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//Styling for div around h1 on settings page
.settings-head {
    padding-left: 58px;
    background: url(../img/unused/settings-head.png) left top no-repeat;
    margin-bottom: 2rem;

    h1 {
        font-weight: 700;
        color: #2A84AC;
        padding: .5rem 0;
    }
}

//Containers for different parts of the settings page, different sets of settings
.pref-section {
    border: 1px solid #B0D5E6;
    padding: 1rem;
    border-radius: $global-radius;

    h2 {
        color: #2A84AC;
        font-weight: 600;
    }
}

.pref-section+.pref-section {
    margin-top: 1.5rem;
}

//Styling for the Primary USC listed for department 
.primary {
    font-weight: 600;
}

//styling on the word "self" listed in USCs for department 
.self {
    font-style: italic;
    color: #A802CF;
}

//Side instructions section next to table 
.side-instructions {
    padding-top: 1rem;

    p {
        font-size: .9rem;
        color: #414042;
    }
}

//"favorite" column that just contains start graphic that functions as radio buttons
.fav-col {
    min-width: 1.8rem;
    max-width: 3rem;
}

//star graphics that function as radio button for marking your favorite department 
.favorite-radio {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: url(../img/unused/fav-off.png) center center no-repeat;
    opacity: 1;
}

.favorite-radio:has(input:checked) {
    background-image: url(../unused/img/fav-on.png);
}

.favorite-radio input {
    opacity: .05;
    width: 30px;
    height: 30px;
}

.favorite-radio:has(input:focus) {
    border: 2px dotted $black;
}





/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## MULITPLE SECTIONS   
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
//Used on View Access/Request Access pages (profiles, req-access-step3, view-access-byapp) for putting icon next to heading of section of data profiles
.is-data {
    font-weight: 600;
    color: $teal-5;

    @include breakpoint(medium) {
        background: url(/../img/unused/data-icon.png) left 5px no-repeat;
        padding-left: 23px;
        margin-left: -20px;
    }
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    ## BUTTONS   
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
//UNUSED - Actionbar?
.main-actions {
    margin: 2.75rem 0;
}

// Unused - actionbar?
.actionchoice {
    margin: 3rem 0 2rem 0;
}



.req-btn {
    padding: .4rem .8rem;
    font-size: .9rem;
    background-color: #084D81;
}

.req-edit-btn {
    background-color: #057370;
}

//Unused
.added-state {
    background-color: #0579D3;
}

//Unused, needs to be used with clear class
.info-btn {
    background-image: $circle-i-italic;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

//Unused, needs to be used with clear class
.train-btn {
    background-image: $yellow-flag;
    background-position: center;
    background-repeat: no-repeat;
}

.info-btn:hover,
.info-btn:focus,
.train-btn:hover,
.train-btn:focus {
    filter: brightness(0) saturate(100%) invert(16%) sepia(55%) saturate(3479%) hue-rotate(189deg) brightness(50%) contrast(94%);
}

//doesn't appear to actually be fully styled
.remove {
    color: $alert-dark;
    border-color: $alert-dark;
    background-color: transparent; //KD 1.15.25 - Added

}

.remove:hover,
.remove:focus {
    background-color: $alert-dark;
}

//Button - currently only used on old view-access-byapp
.util {
    color: $primary-color;
    border-color: $primary-color;

    &:hover,
    &:focus {
        background-color: $primary-dark
    }
}

//NeedsReview - .util-back only used in the old reference pages for back button
.util-back {
    font-size: .9rem;
    margin-top: 1rem;

    @include breakpoint(medium) {
        text-align: right;
    }

}

//profiles - add button on profiles, adding here as well so it's with the buttons for reference
.pickme {
    background-color: #CDE8F4;
    background-color: #CDE8F4;
    //background-color: transparent;
    color: $primary-color;
    //border: 1px solid #A8C6DC;
    //margin-right: 54px;

    color: $black;

    &:hover,
    &:focus {
        background-color: #04589A;
    }
}

//profiles - circle x icon button 
.del-x {
    background-image: $cancel-circle-icon;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 34px;

}

.del-x:hover,
.del-x:focus {
    background-image: $cancel-circle-icon-red;
}


/*----------------------------------------------------------------------------------------------------
    ## NOT USED ANYWHERE
----------------------------------------------------------------------------------------------------*/

.ch-al {
    display: flex;
    align-items: baseline;
}

//UNUSED - a more robust .tooltip class is also being pulled in from foundation
.tooltip {
    max-width: 400px;
}

//12.18.24 UNUSED - doesn't appear to be used anywhere
.divider {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 2.5rem;
}

//UNUSED 
.guide {
    font-style: italic;
    display: inline-block;
    padding: .25rem 1rem;
    background-color: #FFF9E5;
}

//UNUSED
.inter-question {
    padding: 1.25rem 1.25rem 1.25rem 42px;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    max-width: 800px;
    background: url(../img/unused/inter-question-bg.png) left top repeat-y;

    p {
        font-weight: 600;
    }
}

//Unused - was with the selection and content hierarchy css, appears to be replaced by .active-app
.has-now {
    display: inline-block;
    padding: .2rem .6rem;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: $orange-lightest;
    border-radius: 10px;
}

//UNUSED, may be the old version of download buttons on view access page? 
.download-opts {
    position: absolute;
    top: 4px;
    right: 0;
    text-align: right;
    margin-bottom: 0;
}


.rep-theme {
    h2 {
        color: $teal-3;
        border-bottom: 6px solid $aqua-light;
    }

    h3 {
        color: $teal-3;
    }

    h4 {
        @include for-sr();
    }
}


//listed with cat-section in view-access, I pulled out the css it shared with cat-section to have it here so I can get rid of req-section in the view access partial 
.req-section {

        padding: .25rem .5rem .25rem 1.5rem;
    margin-bottom: .75rem;
    border-left: 4px solid $inky;
    border-radius: 3px;

    padding-left: 1.75rem;

    h2 {
        font-size: 1rem;
        font-weight: 700;
        padding: .5rem 0;
        margin-left: -1.75rem;

    }

    h3:before {
        background: none
    }

    .cur-per-list>ul {
        margin-left: 0;
    }
}


//Unused - topcat itself isn't used, but topcat-subs is used in find-methods
//seems to have been replaced by browse-boxes container that styles all the lis under it as a group
//instead of giving each individual li a class of topcat, and the topcat-subs class is a remnant of that
.topcat {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-top: 9px solid $primary-dark;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.09);


    h3 {
        font-weight: 600;
        margin-bottom: 0;
        font-size: 1em;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: .75rem 0 .75rem 1rem;
        background-color: $neutral;
    }

    &.capital {
        border-top-color: #023964;
        h3 {color: #023964;}
    }

    &.finance {
        border-top-color: #597029;
        h3 {color: #597029;}
    }

    &.hr {
        border-top-color: #1F7093;
        h3 {color: #1F7093;}
    }

    &.research {
        border-top-color: #343A88;
        h3 {color: #343A88;}
    }

    &.student {
        border-top-color: $student;
        h3 {color: $student;}
    }


}


// Unused, but With Request Access stuff
.shared-change-note {
    display: inline-block;
    padding: .25rem .25rem .2rem 28px;
    background-image: $link-icon;
    background-repeat: no-repeat;
    background-position: left 3px;
    font-size: .85rem;
}


.subselect-block {
    margin-bottom: 1.25rem;
    position: relative;

    .add-topic {
        position: absolute;
        right: 20px;
        top: 0;
    }

    //h2 {}
}

.subselect-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    gap: 1rem;
}

.subselect-card {
    border: 1px solid $aqua-light;
    padding: 1rem;
    //margin: 0 1rem 1rem 0;

    h3 {
        font-weight: 700;
        font-size: 1rem;
    }
}

.method-opts {
    border: none;
    border-bottom: 1px solid $ground;
    border-left: 1px solid $ground;
    background-color: $ground;
}

.method-opts {
    .tabs-title {
        float: none;

        @include breakpoint(medium) {
            float: left;
        }
    }

    .tabs-title>a {
        font-size: 1rem;
        font-weight: 600;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        padding: 1rem .75rem;
        margin-right: 3px;
        background-color: $wash;
        margin-bottom: -1px;

        @include breakpoint(large) {
            padding: 1rem 2.25rem;
        }
    }

    .tabs-title>a:hover,
    .tabs-title>a:focus {
        border-top-color: $primary-dark;
        color: $primary-dark;
    }


    .tabs-title>a[aria-selected=true] {
        background-color: $white;
        color:  $primary-dark;
        border-top-color: $bright-blue;
        border-bottom-color: $white;
    }

    .tabs-title>a:last-child {
        border-right: 1px solid $wash;
    }




}

.method-opts-content {
    border: 1px solid $ground;
    border-top: none;
    padding: 1rem;


    select {
        max-width: 500px;
    }

    .wrapper500 {
        max-width: 500px;
    }
}

.steps {
    font-weight: 600;
}

//Seems to be connected to old version of profiles
.cx-profiles {
    font-weight: 700;
    color: $magenta-5;
}

.notes-and-acts {
    padding-top: 1.5rem
}

.unit-scope {
    display: block;
    font-size: .9rem;
}

.continue-prompt>div {
    @include xy-cell(100%);

    @include breakpoint(medium) {
        @include xy-cell(100%);
    }
}

.permission-grp {
    padding-bottom: 1rem;

    ul {
        margin-left: 100px;
    }

    li span:after {
        content: "> ";
        display: inline-block;
        padding: 0 .75rem;
        color: $gray-6;
    }

    li span:last-of-type:after {
        content: none;
    }
}

.det-level-perm {
    font-style: italic;
}

//was near alpha list stuff used in view access pages
.defin {
    font-size: .9rem;
    color: $gray-6;
    padding-top: .7rem;
    padding-left: .75rem;
}

.req-process-results {
    h1 {
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}

//not used anywhere
.searchbar.req-process {
    margin-bottom: 0;
}


.boundry {
    // margin-left: .9375rem;
    border-left: 6px solid $orange-4;
    padding: .4rem 0 .4rem .8rem;
    margin-bottom: 1rem;
    background-color: #FCF3DB;
    max-width: 900px;
}

.opt-block {
    padding: 1rem
}

//unused, grouped with the other profile page content in the css, might be from old review/confirmation page/section?
.review-section {
    padding-bottom: 1.75rem;

    h2 {
        font-weight: 700;
    }

    .profile-set {
        border-left: 6px solid;
        border-bottom-width: 1px;
        border-radius: $global-radius;

        @include breakpoint(medium) {
            padding-left: 40px;
        }
    }

    .profile-list li {
        margin-left: 0;
        border: none;
        margin-bottom: 0;

    }

    .profile-list li:nth-child(odd) {
        background-color: $wash;
    }

    .picker-actions .clear {
        font-weight: 400;
        font-size: .85rem;
    }

    .trash {
        background: url(../img/unused/trash-off.png) center center no-repeat;
    }

    .trash:hover,
    .trash:focus {
        background-image: url(../img/unused/trash-on.png);
    }

}

//unused, grouped with the other profile page content in the css, might be from old review/confirmation page/section?
.sched {
    display: flex;
    align-items: center;

    h2,
    input {
        display: inline-block;
        margin-bottom: 0;
        padding-right: .75rem;
    }
}

//unused, grouped with the other profile page content in the css, might be from old review/confirmation page/section?
.adds .profile-set {
    border-color: #B1CD75;
}

//unused, grouped with the other profile page content in the css, might be from old review/confirmation page/section?
.changes .profile-set {
    border-color: #FBCE6F;
}

//unused, grouped with the other profile page content in the css, might be from old review/confirmation page/section?
.deletes .profile-set {
    border-color: #ED8787;
}



// #### from forms section -----------------------------------------

//currentlu unused, from forms section 
.process-step {
    margin-top: 2rem;
}

//not currently  used anywhere NEEDSREVIEW
.faux-label {
    font-weight: 600;
    color:  $primary-dark;
}

//not currently used anywhere
.check-align label {
    padding-left: 2rem;
    text-indent: -2rem;
    padding-bottom: .3rem;
}

.check-align input[type="checkbox"]:before {
    top: 4px;
}

//doesn't appear to be used anywhere, but there are a lot of "challenge-x" classes 
.challenge {
    @include breakpoint(large) {
        padding-left: 3rem;
    }
}



// #### from Inbox section -----------------------------------------


//UNSUED? - Does not appear to be used anywhere
.filter-options {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;

    li {
        margin: 0 1.5rem 0 0;
        padding: .25rem;
        display: inline-block;
    }
}

