@use 'variables' as *;

/* =========================================================================
   ## FORM ELEMENTS
============================================================================ */
   // ### TEXT & SELECT INPUTS
   // ### RADIO & CHECKBOXES INPUTS
   // ### FORM LAYOUT STYLING 
   // ### FORM LABELS, LEGENDS, NOTES, ETC
   // ### ERROR MESSAGES 
   //  ### IE FIX - FORMS

/* ===============================================================
  ### TEXT & SELECT INPUTS
================================================================== */
[type="text"], [type="password"], [type="search"], [type="number"], [type="color"],
[type="date"], [type="time"], [type="datetime"], [type="datetime-local"],
[type="month"], [type="week"], [type="email"], [type="tel"],  [type="url"],
textarea, select {
  display: block;
  height: 2.5rem;

  margin: 0;
  padding: .5rem;

  border: 1px solid $gray-03;
  border-radius: 3px;

  background-color: $white;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);

  font-family: $font-family;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $black;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

[type="text"], [type="password"], [type="search"], [type="number"], [type="color"],
[type="date"], [type="time"], [type="datetime"], [type="datetime-local"],
[type="month"], [type="week"], [type="email"], [type="tel"],  [type="url"],
textarea {
  box-sizing: border-box;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28108, 112, 122%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding: .35rem;
  padding-right: 1.5rem;
}

[type="text"]:disabled, [type="password"]:disabled, [type="search"]:disabled, [type="number"]:disabled, [type="color"]:disabled,
[type="date"]:disabled, [type="time"]:disabled, [type="datetime"]:disabled, [type="datetime-local"]:disabled,
[type="month"]:disabled, [type="week"]:disabled, [type="email"]:disabled, [type="tel"]:disabled,  [type="url"]:disabled,
textarea:disabled, select:disabled {
  background-color: $gray-02;
  cursor: not-allowed;
}


/* ========================= #### FILE UPLOAD INPUT ========================= */

/* =============== #### F
================================================================== */


.file-upload {
  label {
    display: block;
  }

  [type=file].button::file-selector-button {
    outline: 1px solid $gray-03;

  }
}



/* ===============================================================
  ### RADIO & CHECKBOXES INPUTS
================================================================== */
.radcheck {
  div {
    margin-bottom: .5rem;
    margin-left: .5rem;
  }

  div.indented {margin-left: 2.5rem;}

  
  // ====== BASE STYLING ===== / 
  [type="checkbox"], [type="radio"] {
    margin-left: 0;
    opacity: 0;
    position: absolute;
  }

  [type="checkbox"] + label, [type="radio"] + label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-left:0;
    margin-right: 1.25rem;
    display: block;
  }


  // ====== UNCHECKED STYLING ===== / 
  
  [type="checkbox"] + label::before, [type="radio"] + label::before {
    background: $white;
    content: ' ';
    display: inline-block;
    margin-right: 0.5em;
    margin-left: -30px;
    text-indent: 0;
    vertical-align: middle;
  }
  
  
  [type="checkbox"] + label::before {
    border-radius: 3px;
    border: 2px solid $gray-04;
    line-height: 1.2;
    height: 1.3rem;
    width: 1.3rem;
  }

  [type="radio"] + label::before {
    border: 2px solid $white;
    outline: 2px solid $gray-04;
    border-radius: 100%;
    line-height: 1.4;
    height: 1rem;
    width: 1rem;
}

  // ====== CHECKED STYLING ===== / 
  [type="checkbox"]:checked + label::before{
      background-color: $slate;
      border-color: $slate;
      background-image: $checkmark-white;
      background-position: 50%;
      background-repeat: no-repeat;
  }

  [type="radio"]:checked + label::before {
    background-color: $slate; 
    outline-color: $slate
  }

  // ====== UNCHECKED & DISABLED STYLING ===== / 
  [type="checkbox"]:disabled + label, [type="radio"]:disabled + label {
    color: $gray-04;
    cursor: not-allowed;

  }

  [type="checkbox"]:disabled + label::before {
    background: $gray-02;
    border-color: $gray-03;
    cursor: not-allowed;
  }

  [type="radio"]:disabled + label::before {
    background-color: $gray-02;
    border-color: $gray-02;
    outline-color: $gray-03;
    cursor: not-allowed;
  }

  // ====== CHECKED & DISABLED STYLING ===== / 
  [type="checkbox"]:checked:disabled + label::before {
    background: $gray-04;
    border-color: $gray-04;
    background-image: $checkmark-white;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  [type="radio"]:checked:disabled + label::before {
    outline-color: $gray-04;
    background: $gray-04;
  }



  [type="checkbox"]:focus-visible + label, [type="radio"]:focus-visible + label {
    outline: 2px dotted $slate;
    outline-offset: 5px;
  }

  label {padding-left: 30px;}
}



/* ===============================================================
  ### FORM LAYOUT STYLING 
================================================================== */
.question {
  padding: 0 0 1.5rem 0;
  margin-right: .5rem;

  fieldset:last-of-type {padding-bottom: 0;}
}

.static-question {
  padding-bottom: 1.5rem;
  .pseudo-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
  }
  p, a, button {
    display: inline-block;
    margin-top: 0;
  }
}

fieldset {
  border: none;
  margin-left: 0;
  padding-left:0;

  legend {
    padding: 0;
    margin:0;
  }
}

.fieldset-group, .radcheck .fieldset-group {
  margin-left: 0;
  display: block;
  width: 100%;
}

.inlined-group {
  input {display: inline;}
}

.block-fieldset {
  div {display: inline-block;}
}

@media (min-width: $breakpoint-md) {
  .left-legend {
    legend {
      float: left;
      margin-right: 1rem;
      padding-bottom: .25rem;
    }
    .parent-legend {
      margin-top: 0;

    }
  }
}

.tiny-input {width: 80px; max-width: 100%;}
.sm-input {width: 180px; max-width: 100%;}
.med-input {width: 300px; max-width: 100%;}
.lg-input {width: 500px; max-width: 100%;}
.fw-input {width: 100%}



/* ===============================================================
  ### FORM LABELS, LEGENDS, NOTES, ETC 
================================================================== */
.required:after {
  content: ' *';
  font-weight: bold;
  color: $error;
}

label {font-weight: bold;}

legend {
  font-weight: bold;
  line-height: 1.8;
  font-size: 1rem;
  line-height: normal;
}

.parent-legend {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0;
//  margin-top: .5rem;
}

.sublegend {
  font-weight: bold;
  margin: 0 1rem .5rem 0;
}

.fieldset-group .inlined {
  display: block;
}
 
@media (min-width: $breakpoint-md) {

  .fieldset-group .inlined {
    display: inline-block;
  }

}

.form-note {
  font-style: italic;
  font-weight: normal;
  color: $gray-04;
}


.more-info-label {
 [type="checkbox"] + label {
    padding-right: 0;
    margin-right: 0;
    line-height: 100%;

  }
  .round {
    padding: 0;
    height: 20px;
    width: 20px;
    margin-left: .5rem;
  }
}

/* ===============================================================
  ### ERROR/WARNING/SUCCESS MESSAGES
================================================================== */

/* == On Input Messages == */
.error, .warning, .success {
  border: $gray-01 1px solid;
  padding:0;
  padding-bottom: 1rem;
  max-width: max-content;
  margin-bottom: 1rem;

  .error-mssg, .warning-mssg, .success-mssg {
    font-weight: bold;
    padding: .5rem ;
    padding-left: 2.5rem;
    padding-right: 2rem;
    margin: 0;
    margin-bottom: .5rem;
    line-height: normal;
  }

  label, a, [type="text"], [type="date"], [type="email"], [type="password"], [type="tel"], [type="search"], [type=file], select, textarea {
    margin: 0 1rem;
   // max-width: 1145px;
   // max-width: 95%;
   //UPDATE 11.22.24 - Temp removing this, it messes up the date inputs in the advanced search, not sure what it's doing
  }

  .radcheck label a {display: inline;}
  .inlined {
    label, a, [type="text"], [type="date"], [type="email"], [type="password"], [type="tel"], [type="search"], [type=file], select, textarea {
      margin: 0;
    }
  
  }
  .inlined:first-of-type {
    label, a, [type="text"], [type="date"], [type="email"], [type="password"], [type="tel"], [type="search"], [type=file], select, textarea {
      margin-left: 1rem;
    }
  }

  .inlined:last-of-type {
    label, a, [type="text"], [type="date"], [type="email"], [type="password"], [type="tel"], [type="search"], [type=file], select, textarea {
      margin-right: 1rem;
    }
  }

  fieldset .inlined:first-of-type{
    label, a, [type="text"], [type="date"], [type="email"], [type="password"], [type="tel"], [type="search"], [type=file], select, textarea {
      margin: 0;
    }
  }

  fieldset {
    margin: 0 1rem;
    padding-bottom: 0;
    

    label, a, [type="text"], [type="date"], [type="email"], [type="password"], [type="tel"], [type="search"], [type=file], select, textarea {
      margin: 0;
    }
  }

  label, a, p {display: block;}

  .tiny-input, .sm-input, .med-input, .lg-input, .fw-input {max-width: 90%;}

  //Removes excess margin from bottom of last checkbox/radio button in fieldset when there's an error message
  .radcheck div:last-of-type {
    margin-bottom: 0; 
    [type="checkbox"] + label, [type="radio"] + label {
      margin-bottom: 0; 
    }
  }
}


.error {
  border: $error 1px solid;
  .error-mssg {
    color: $white;
    background: $icon-error-white left center no-repeat;
    background-size: 23px 23px;
    background-position: .5rem center;
    background-color: $error;
  }
}

.warning {
  border: $warning 1px solid;
  .warning-mssg {
    color: $black;
    background: $icon-warning-black left center no-repeat;
    background-size: 23px 23px;
    background-position: .5rem center;
    background-color: $warning;
  }
}

.success {
  border: $success 1px solid;
  .success-mssg {
    color: $white;
    background: $icon-success-white left center no-repeat;
    background-size: 23px 23px;
    background-position: .5rem center;
    background-color: $success;
  }
}

.error.noBottom, .warning.noBottom, .success.noBottom  {
  padding-bottom: 1rem;
  margin-bottom: .5rem;
}




/* == Form Summary == */
.error-summary, .warning-summary, .success-summary {
  border: 1px solid $gray-01;
  padding: 0 1rem;
  margin-bottom: 1rem;
  h1, h2, h3, h4, h5, h6 {
//    color: $error;
    font-size: 1.25rem;
    margin-bottom: 0;
 //   background-image: $icon-error-red;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    padding-left: 30px
  }

  ul {
    margin-top: .5rem;
    li { margin: .5rem 0;}
  }

}

.error-summary {
  border: 1px solid $error;
  h1, h2, h3, h4, h5, h6 { 
    color: $error;
    background-image: $icon-error-red;
  }
}

.warning-summary {
  border: 1px solid $warning;
  h1, h2, h3, h4, h5, h6 { 
    color: $black;
    background-image: $icon-warning-yellow;
  }
}

.success-summary {
  border: 1px solid $success;
  h1, h2, h3, h4, h5, h6 { 
    color: $success;
    background-image: $icon-success-green;
  }
}

/* ===============================================================
  ### IE FIX - FORMS 
================================================================== */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  legend {
    display: table;
    white-space: normal;
  }
}

