@use 'variables' as *;

/* =========================================================================
  ## HEADER STYLING 
============================================================================ */
   // ### MAIN HEADER
   // ### SIMPLE HEADER
   // ### IE FIXES 

/* ===============================================================
  ### MAIN HEADER
================================================================== */
.header-main {
  padding: $site-padding;
  background-color: $site-color;
  border-bottom: $blue-03 5px solid;

  .site-name {
    display: flex;
    align-items: center;

    .logo, .inverse-logo {
      float: left;
      height: 50px;
      margin-top: .05rem;
      margin-right: .75rem;
    }

    .logo {display: none;}


    a, a:visited {
      text-decoration: none;
      color: $white;
      border: none;
      font-size: 1em;
    }

    a:hover, a:focus {
      color: $white;
      border-bottom: 1px $white solid;
    }

    .site-title {
      font-size: 1.05rem;
      font-weight: bold;
//display: block;
    }


  }
  
  .account {display: none;}
  .menu-btn {text-align: right;}

  :focus-visible {
    outline: 2px $white dashed;
    outline-offset: 1px;
  }
}


@media (min-width: $breakpoint-sm) {
  .header-main {
    .site-name {
      .inverse-logo, .logo {
        height: 60px;
      }
      a {font-size: .95rem;}
      .site-title {
        font-size: 1.15rem;
        display: block;
      }
    }
  }

}

@media (min-width: $breakpoint-md) {
  .header-main {
    background-color: $white;
    border-bottom: none;
    
    .site-name {
      .inverse-logo {display: none;}
      .logo {
        display: block;
        margin-right: $site-padding;
      }
  

      a, a:visited{
        color: $site-color;
        font-size: 1.05rem;
      }
      a:hover, a:focus{color: $primary-dark;}
      .site-title {font-size: 1.5rem;}

    }


  
    .account {
      display: block;
      text-align: right;
    }

    :focus-visible {
      outline: 2px $black dashed;
      outline-offset: 1px;
    }
  }

}

/* ===============================================================
  ### SIMPLE HEADER
================================================================== */
.header-simple {
  padding: $site-padding;
  background-color: $site-color;

  .site-name {
    display: flex;
    align-items: center; 
    
    .inverse-logo {
      float: left;
      height: 60px;
      margin-top: .05rem;
      margin-right: 1rem;
    }
    a, a:visited{
      color: $white;
      text-decoration: none;
      border: none;
      font-size: 1.15rem;
    }

    a:hover, a:focus{
      color: $white;
      border-bottom: 1px $white solid;
    }

    a:focus-visible {
      outline: 2px $white dashed;
      outline-offset: 2px;
    }



    .site-title {
      font-size: 1.5rem;
      font-weight: bold;
      display:block;
      max-width: max-content;
    }

  }


}

/* ===============================================================
  ### IE FIX - HEADER 
================================================================== */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*Fixes placement of cells in header in IE and makes sure the buttons are still clickable*/
  .header-main {
    .grid-container {
      display: flex;
      .site-name, .menu-btn {width: 50%}
      .account {width: 0;}
      @media (min-width: $breakpoint-md) {
        .menu-btn {width: 0}
        .account {width: 50%;}
      }
    }
  }
}



/* ===============================================================
  ### SKIPTO.JS Styling
================================================================== */
nav#id-skip-to button:hover {
  background-color: $gray-03 !important;
}

#id-skip-to-menu-heading-group-label {
  margin-top: .5rem !important; 
}

@media (min-width: $breakpoint-sm) { 
  nav#id-skip-to, nav#id-skip-to.popup.focus, nav#id-skip-to.popup:hover {
    left: 35% !important;
  }
}

@media (min-width: $breakpoint-md) { 
  nav#id-skip-to, nav#id-skip-to.popup.focus, nav#id-skip-to.popup:hover {
    left: 45% !important;
  }
}