// =========================== Table of Contents =========================== 
   // ## LAYOUT VARIABLES
   // ## COLORS
      // ### BASIC COLORS
      // ### ELEMENT/FUNCTIONAL COLORS COLORS
   // ## ELEMENT COLORS
   // ## DIVIDER
   // ## Icons





// ================== ## LAYOUT VARIABLES ================== //
   $site-padding: 1rem;
   $site-width: 1200px;

   $breakpoint-sm: 375px;
   $breakpoint-md: 700px;
   $breakpoint-lg: 1025px;


// ================== ## Fonts ================== //
   $font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;

   $font-small: 0.9rem;
   $font-tiny: .75rem; 
// ================== ## COLORS ================== //
   // =========== ### BASIC COLORS =========== //
      $blue-01: #F0F5F9;
      $blue-02: #A3D9FF;
      $blue-03: #0095FF;
      $blue-04: #006EBD;
      $blue-05: #005394;

      $green: #65AE29;
      $green-dark: #45781C;
      $green-light: #DBFFBD;

      $yellow: #FEC500;
      $yellow-dark: #E2A800;

      $red: #AB0505;
      $red-dark: #7A0505;


      $gray-01: #F5F7F9;
      $gray-02: #E8E9ED;
      $gray-03: #C1C6CD;
      $gray-04: #6C707A;

      $slate: #434B55;
      $slate-dark: #2F3235;

      $black: #0a0a0a;

      $white: #fefefe;

   // =========== ### ELEMENT/FUNCTIONAL COLORS =========== //      
      $font-color: $black;

      $site-color: $slate;
      $primary-blue: $blue-04;
      $primary-dark: $blue-05;
      $secondary: $slate;
      $secondary-dark: $slate-dark;
      $accent: $yellow;
      $accent-dark: $yellow-dark;


      $link: $primary-blue;
      $link-hover: $green-dark;
      $link-visited: $primary-dark;

      $dark-bg-link: $blue-02;
      $dark-bg-link-hover: $green-light;

      $scorecard-color: $blue-05;


      // UPDATED 11.05.21 - set $warning variable
      $warning: $yellow-dark;
      $error: $red;
      $success: $green-dark;

// ================== ## DIVIDER ================== //
   $border: 1px solid $gray-03;


// ================== ## ICONS ================== //
 
$checkmark-white: url("../../common/graphics/icons/icon-check.png");

$arrow-link: url("../../common/graphics/icons/icon-arrow-link.png");
$arrow-link-hover: url("../../common/graphics/icons/icon-arrow-link-hover.png");


//Stop sign x icon
$icon-error-white: url("../../common/graphics/icons/icon_error-white.svg");
$icon-error-red: url("../../common/graphics/icons/icon_error-red.svg");

//Triangle ! icons
$icon-warning-black: url("../../common/graphics/icons/icon_warning-black.svg"); // only used for dismissable alerts
$icon-warning-yellow: url("../../common/graphics/icons/icon_warning-yellow.svg"); //Used for NIGP code inactive

$alert-white: url("../../common/graphics/icons/icon_warning-white.svg"); //alert, error messages, attention box, warning/critcal warning
$icon-warning-white: url("../../common/graphics/icons/icon_warning-white.svg"); //error messages


//circle check icons
$icon-success-white: url("../../common/graphics/icons/icon_success-white.svg"); 
$icon-success-green: url("../../common/graphics/icons/icon_success-green.svg"); 

//Accordion Icons
$accordion-closed-white: url('../../common/graphics/icons/icon_Plus-white.svg');
$accordion-open-white: url('../../common/graphics/icons/icon_Minus-white.svg');
$accordion-closed-gray: url('../../common/graphics/icons/icon_Plus-slate.svg');
$accordion-open-gray: url('../../common/graphics/icons/icon_Minus-slate.svg');


//Notice Graphics
$successful-bidders: url('../../common/graphics/icons/winner-preview.svg');
$unsuccessful-bidders: url('../../common/graphics/icons/unsuccessful-preview.svg');
$submit-mail: url("../../common/graphics/icons/icon-submit-mail.svg");
$submit-ebid: url("../../common/graphics/icons/icon-submit-ebid.svg");
$ebid-reverse: url("../../common/graphics/icons/icon-submit-ebid-reverse.svg");
$document-img: url("../../common/graphics/icons/icon-documents.svg");

  







