@charset "UTF-8";
/* ==========================================================================
   ## VARIABLES
   ========================================================================== */
/* ==========================================================================
   ## LAYOUT STYLING
   ========================================================================== */
.doc {
  /* ==========================================================================
     ## DOCUMENTATION SPECIFIC ELEMENTS
     ========================================================================== */
}
.doc .content-block {
  background-color: #E8E9ED;
  z-index: -5;
}
.doc .content-block .devblock {
  background-color: #fefefe;
  padding: 2rem;
  z-index: -4;
}
.doc .content-block .devblock .dbheader {
  border-bottom: 3px solid #6C707A;
  margin-bottom: 0.5rem;
}
.doc .content-block .devblock .dbheader h2 {
  color: #005394;
  display: inline-block;
}
.doc .content-block .devblock .dbheader p {
  margin-top: 0;
}
.doc .content-block .devblock .dbheader a {
  float: right;
  display: inline-block;
  border: none;
  background-color: #6C707A;
  border-radius: 3px;
  color: #fefefe;
  padding: 0.5rem;
}
.doc .content-block .devblock .dbheader button {
  background-color: transparent;
  border: 1px solid #005394;
  border-radius: 3px;
  color: #005394;
  padding: 0.25rem;
  margin: 0 0 0.25rem 0.5rem;
}
.doc .content-block .devblock .dbheader .toc {
  list-style: none;
  margin: 0;
  padding: 0;
}
.doc .content-block .devblock .dbheader .toc li {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
}
.doc .content-block .devblock .dbheader .toc li a {
  padding: 0.5rem;
  border: none;
  background-color: #F0F5F9;
  color: #005394;
}
.doc .content-block .devblock .dbheader .toc li a:hover, .doc .content-block .devblock .dbheader .toc li a:focus {
  color: #fefefe;
  background-color: #005394;
}
.doc .content-block .devblock .dbheader a:hover, .doc .content-block .devblock .dbheader a:focus {
  background-color: #005394;
}
@media (max-width: 700px) {
  .doc .content-block .devblock .dbheader h2, .doc .content-block .devblock .dbheader a {
    display: block;
  }
  .doc .content-block .devblock .dbheader a {
    float: none;
    margin: 0.5rem 0;
    width: max-content;
  }
}
.doc .blue-block {
  background-color: #F0F5F9;
}
.doc .hp-fix .content-block {
  background-color: #fefefe;
}
.doc .devcell {
  background-color: #A3D9FF;
  border: 1px #005394 solid;
  padding: 0.5rem;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
}
.doc .co-doc h3 {
  margin-top: 0;
}
.doc .co-ex {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #6C707A;
}
.doc .devborder {
  border: 1px #0a0a0a solid;
}
.doc .partical-divider {
  border-bottom: 2px dashed #C1C6CD;
}
.doc .mobile-nav-toggle-ex {
  display: inline;
  padding: 0.75rem;
  padding-right: 1rem;
  border-radius: 3px;
  background: transparent;
  border: transparent;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1rem;
  color: #fefefe;
}
.doc .mobile-nav-toggle-ex::before {
  content: "☰";
  font-size: 1.75rem;
  padding-right: 0.25rem;
}
.doc .mobile-nav-toggle-ex:hover {
  background-color: #fefefe;
  color: #434B55;
}
@media (min-width: 700px) {
  .doc .mobile-nav-toggle-ex {
    display: none;
  }
}
.doc .toc {
  list-style: none;
  margin: 0;
  padding: 0;
}
.doc .toc li {
  display: inline-block;
  margin-right: 0.5rem;
}
.doc .toc li a {
  padding: 0.5rem;
  border: none;
  background-color: #F0F5F9;
}
.doc .toc li a:hover, .doc .toc li a:focus {
  color: #fefefe;
  background-color: #006EBD;
}
@media (max-width: 430px) {
  .doc .toc li {
    margin: 0.5rem 0.25rem;
  }
  .doc .toc li a {
    display: block;
  }
}
.doc .warning-note {
  background-color: pink;
  padding: 1rem;
  border-left: #AB0505 5px solid;
  font-style: italic;
  max-width: max-content;
}
.doc .src-note {
  background-color: #F0F5F9;
  padding: 1rem;
  border-left: #006EBD 5px solid;
  font-style: italic;
  max-width: max-content;
}
.doc .footnotes {
  border-top: 1px solid #C1C6CD;
  margin-top: 2rem;
}
.doc .footnotes p {
  font-size: 0.9rem;
}
.doc .footnotes p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.doc .footnotes code {
  font-size: 0.8rem;
  border: none;
}
.doc code {
  font-size: 1rem;
  padding: 0rem 0.25rem;
  background-color: #E8E9ED;
  border: 1px solid #6C707A;
}
.doc .codebloc {
  background-color: #E8E9ED;
  border: 1px solid #6C707A;
  padding: 1rem 2rem;
  width: max-content;
}
.doc .colors .colorbloc {
  min-height: 60px;
  padding: 1rem;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
}
.doc .colors .blue01 {
  background-color: #F0F5F9;
}
.doc .colors .blue02 {
  background-color: #A3D9FF;
}
.doc .colors .blue03 {
  background-color: #0095FF;
}
.doc .colors .blue04 {
  background-color: #006EBD;
  color: #fefefe;
}
.doc .colors .blue05 {
  background-color: #005394;
  color: #fefefe;
}
.doc .colors .slate {
  background-color: #434B55;
  color: #fefefe;
}
.doc .colors .slateD {
  background-color: #2F3235;
  color: #fefefe;
}
.doc .colors .green {
  background-color: #65AE29;
}
.doc .colors .greenD {
  background-color: #45781C;
  color: #fefefe;
}
.doc .colors .greenL {
  background-color: #DBFFBD;
}
.doc .colors .yellow {
  background-color: #FEC500;
}
.doc .colors .yellowD {
  background-color: #E2A800;
}
.doc .colors .red {
  background-color: #AB0505;
  color: #fefefe;
}
.doc .colors .redD {
  background-color: #7A0505;
  color: #fefefe;
}
.doc .colors .gray01 {
  background-color: #F5F7F9;
}
.doc .colors .gray02 {
  background-color: #E8E9ED;
}
.doc .colors .gray03 {
  background-color: #C1C6CD;
}
.doc .colors .gray04 {
  background-color: #6C707A;
  color: #fefefe;
}
.doc .colors .black {
  background-color: #0a0a0a;
  color: #fefefe;
}
.doc .colors .white {
  background-color: #fefefe;
  border: 1px solid #0a0a0a;
}

.dark-bg-block {
  background-color: #2F3235;
  padding: 0 1rem;
}
.dark-bg-block a, .dark-bg-block a:visited {
  color: #A3D9FF;
}
.dark-bg-block a:hover, .dark-bg-block a:focus-visible {
  color: #DBFFBD;
}
