@use '../../../common/css/scss/variables' as *;

/* =========================================================================
  ## ABOUT  
============================================================================ */

/*Participating Institutions*/
.institutions {
   .illu-section {
      h3 {
         margin-bottom: .25rem;
      }
      p {line-height: 135%;}
      
      p.archive-details {
         color: $gray-04;
         font-style: italic;
         margin:0; 
      }
   }

}
