@use '../../../common/css/scss/variables' as *;
/* =========================================================================
  ## REGISTRATION / MY ACCOUNT / UNSUBSCRIBE PAGES PAGES 
============================================================================ */
  // ### PROGRESS BAR
  // ### SPECIFIC QUESTION STYLING
    // #### IGP NUMBER LOOKUP
    // #### EMAIL BY REGION/INSTITUTION  
    // #### UNSUBSCRIBE "OTHER" TEXTAREA

  // ## REGISTRATION CONFIRMATION CARD


/* ===============================================================
  ### PROGRESS BAR
================================================================== */
/*Code From https://codepen.io/athimannil/pen/wWPYkQ */
  
%remain-steps{
  &:before {
    content: counter(stepNum);
    font-family: $font-family;
    font-weight: 700;
  }
  &:after{background-color: $gray-02;}
}

.multi-steps{
  padding-left: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  
  > li{
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $black;

    &:before{
      content: '\2713';
      content: $checkmark-white;
      display: block;
      margin: 0 auto 4px;
      background-color: $primary-blue;
      color: white;
      width: 35px;
      height: 35px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: 2px solid $primary-blue;
      border-radius: 50%;
    }
    
    &:after{
      content: '';
      height: 2px;
      width: 100%;
      background-color: $primary-blue;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }

    &:last-child{
      &:after{
       display: none;
     }
    }

    &.is-active{
      font-weight: bold;

      @extend %remain-steps;
      &:before{
        background-color: $white;
        border-color: $primary-blue;
        color: $primary-blue;
      }

      ~ li{
        color: $gray-04;
        @extend %remain-steps;
        &:before{
          background-color: $gray-02;
          border-color: $gray-02;
          color: $black;
        }
      }
    }
  }
}


/* ===============================================================
  ### SPECIFIC QUESTION STYLING
================================================================== */
/* ========================= #### IPG NUMBER LOOKUP ========================= */
#searchIPGNumber {
  padding-bottom: 1.5rem;
  .question {padding-bottom: 0}
  .question.error {
    padding-bottom: 1rem;
    margin-bottom: .25rem;
  }
}

#ipgSearchResults {
  margin-top: 1rem;
}
  


/*  IE Fixes for IGP Number Lookup  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #searchIPGNumber {
    display: flex;
    flex-wrap: wrap;
    .error {width: 100%;}
    #ipgSearch {margin-top: 1.25rem;}
    #ipgSearchResults {
      display: block;
      width: 100%;
    }
  }
}

/* ========================= #### EMAIL BY REGION/INSTITUTION   ========================= */
#inst {
  .grid-container {
    margin: 0;
    .cell {    
      margin: 0;   
      div:last-of-type {margin-bottom: 0;}
    }
  }
}

.error {
  #inst.radcheck {
    [type="checkbox"] + label, [type="radio"] + label {margin-right:0 }
    
    div:last-of-type {
      .indented {margin-left: 2rem}
      
      [type="checkbox"] + label, [type="radio"] + label {margin-bottom: 1rem;}
      
      div:last-of-type {
        [type="checkbox"] + label, [type="radio"] + label {margin-bottom: 0;}
      }
    }
  }

  #notificationOptions .more-info-label {max-width: 90%; } //Makes sure the more info button doesn't appear on a new line by itself at large desktop sizes

}

/* ========================= #### UNSUBSCRIBE "OTHER" TEXTAREA  ========================= */
#otherComments {
  width: 500px;
  height: 100px;
}
   
/* ===============================================================
  ### REGISTRATION CONFIRMATION CARD
================================================================== */
/*Adapted from https://codepen.io/bibiangel199/pen/warevP?editors=1100 */

.reg-card {
  height: auto;
  border: $border;
  background-color: $white;
  margin-top:30px;

  h2, h3 { margin-bottom: 0} 
}

.reg-card-content {
  position:relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
  background: $white;
  text-align:center;
  border-radius:3px;

  img{
    display:block;
    border-radius: 50%;
    margin:-80px auto 0;
    border: $white 10px solid;
    width: 111px;
  }
}

