@use '../../../common/css/scss/variables' as *;
/* =========================================================================
  ## VENDOR RESOURCES 
============================================================================ */

/* GLOSSARY */ 
dt {
  font-weight: bold;
  font-size: 1rem;
  background-color: $gray-04;
  color: $white;
  padding: .5rem 1rem;
  margin:0
}

dd {
  margin:0 0 1.5rem 0;
  padding: 1rem;
  background-color: $gray-02;
  line-height: 150%;
}
