/* ====================================================
 ## WRAPPER CONTROLS AND CONTENT
 ====================================================== */
.dataTables_wrapper .dataTables_length select {
  padding: 5px;
}

/* ===========================
  ### BUTTONS
  ============================= */
.toolbar {
  margin: 0.25em 0.5em 1em 25%;
  float: left;
}

.dt-buttons::before {
  content: "Export Data to:";
}

button.dt-button, div.dt-button, a.dt-button, input.dt-button {
  font-family: inherit;
  font-size: 1em;
  line-height: 1em;
  padding: 0.35em 0.75em 0.25em;
  background: #e6e6e6;
  border-color: #8a8a8a;
}

button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled),
input.dt-button:hover:not(.disabled) {
  background: #cacaca;
  border-color: #8a8a8a;
}

button.dt-button:active:not(.disabled),
div.dt-button:active:not(.disabled),
a.dt-button:active:not(.disabled),
input.dt-button:active:not(.disabled),
button.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button:active:not(.disabled):hover:not(.disabled),
a.dt-button:active:not(.disabled):hover:not(.disabled),
input.dt-button:active:not(.disabled):hover:not(.disabled) {
  box-shadow: none;
  background: #8a8a8a;
  border-color: #8a8a8a;
  color: #0a0a0a !important;
}

button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled),
input.dt-button:focus:not(.disabled) {
  text-shadow: none;
  background: #cacaca;
  border-color: #8a8a8a;
}

button.dt-button:focus-visible:not(.disabled),
div.dt-button:focus-visible:not(.disabled),
a.dt-button:focus-visible:not(.disabled),
input.dt-button:focus-visible:not(.disabled) {
  text-shadow: none;
  outline: 1px solid #007aff;
  background: #cacaca;
}

/* ===========================
 ### PAGINATION
 ============================= */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5em 0.75em 0.35em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #cacaca;
  color: inherit !important;
  border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  box-shadow: none;
  background: #8a8a8a;
  color: #0a0a0a !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #e6e6e6;
  border-color: #8a8a8a;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #cacaca;
  border-color: #8a8a8a;
}

.dataTables_paginate::before {
  content: "Go to Page:";
}


/* ====================================================
 ## TABLE HEADER
 ====================================================== */
table.dataTable thead th, table.dataTable thead td {
  border-bottom: 2px solid #0a0a0a;
}

table.dataTable thead > tr > th.sorting::before,
table.dataTable thead > tr > td.sorting::before,
table.dataTable thead > tr > th.sorting::after,
table.dataTable thead > tr > td.sorting::after {
  color: #8a8a8a;
}

table.dataTable thead > tr > th.sorting_asc::before,
table.dataTable thead > tr > td.sorting_asc::before,
table.dataTable thead > tr > th.sorting_desc::after,
table.dataTable thead > tr > td.sorting_desc::after {
  color: #0a0a0a;
}

/* ====================================================
 ## TABLE ROWS
 ====================================================== */
table.dataTable {
  border-collapse: collapse;
}

table.dataTable tbody tr {
  border-bottom: 1px solid #8a8a8a;
  background-color: #fefefe;
}

table.dataTable.no-footer {
  border-bottom: 2px solid #0a0a0a;
}

.dataTable tbody tr:focus, .dataTable tbody tr:hover {
  background-color: #F0F0F0;
}
