
@import 'scss/common/variables';

/* ==================================================================================
  #DATATABLES STYLING 
===================================================================================== */
/* =========================================================================
  ## GENERAL TABLE STYLING 
============================================================================ */
/*The styles here match the CSS for general HTML tables in pb-common.css*/ 

/* ===============================================================
  ### MARGINS & PADDING
================================================================== */
table.dataTable {
 border-collapse: collapse;
 th, thead th, tbody th, 
 td, thead td, tbody td {
   text-align: left;
   padding: .75rem;
 }
}

/* ===============================================================
  ### TABLE HEADER
================================================================== */
table.dataTable {

 thead th, thead td, th {
   background-color: $primary-dark;
   border: 1px solid $primary-dark;
   color: $white;
 }

 thead tr {
   th.sorting::before, th.sorting::after, td.sorting::before, td.sorting::after{color: $gray-03;}
   th.sorting_asc::before, td.sorting_asc::before, th.sorting_desc::after, td.sorting_desc::after{color: $white;}
 }
}

//focus styling
th.sorting:focus-visible {outline: 2px dashed white; outline-offset: -5px}
th button:focus-visible {outline: 2px dashed white; outline-offset: 3px}

/* ===============================================================
  ### TABLE BODY & ROWS
================================================================== */
table.dataTable {
 tbody {
   border: $border;
   tr {background-color: $white}
   tr:nth-child(even) {
     background-color: $gray-01;
     background-color: $gray-02;
     background-color: $blue-01;
   }
 }
}

/* =========================================================================
  ## DATATABLE SPECFIC STYLING 
============================================================================ */
/* ===============================================================
  ### MARGIN / PADDING / LAYOUT
================================================================== */
table.dataTable {margin-top: .5rem}

.dtfh-floatingparenthead {height: auto !important}


/* ===============================================================
  ### DATATABLE WRAPPER CONTROLS AND CONTENT
================================================================== */
.dataTables_wrapper {
    [type="text"], [type="search"], select {display: inline}
}
  
.dataTables_length, .datatableContainer_filterResults, 
.dataTables_info, .dt-buttons, .datatableContainer_pagination {
    font-family: $font-family;
}
  
/* ========================= #### NUMBER OF RECORDS SHOWN SELECT ========================= */
.dataTables_wrapper .dataTables_length select {padding-right: 1.5rem;}


/* ========================= #### BUTTONS ========================= */
.dt-buttons::before {content: "Export Data to: ";}

button.dt-button, div.dt-button, a.dt-button, input.dt-button {
  padding: .35rem .5rem;
  border: none;
  border: 1px solid transparent;
  background: none;
  background: $gray-02; 
  color: $black;
  font-size: 1rem;
}

button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled), input.dt-button:hover:not(.disabled) {
  border: none;
  border: 1px solid transparent;
  background: none;
  background: $gray-03; 
}


/* ========================= #### PAGINATION ========================= */
.dataTables_paginate::before {
    content: "Go to Page:";
    padding-right: .25rem
}
  
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .75rem;
    margin: .05rem;
    border: none;
    text-decoration: underline !important;
    color: $link !important; 
}
  
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
    border-radius: 0;
    color: $white !important;
    border: none;
    border-radius: 0;
}
  
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: $primary-blue;
}
  
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: $primary-dark;
}
  
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    text-decoration: none !important;
    color: $gray-04  !important; 
}
  
@media (min-width: $breakpoint-md) {
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: .35rem;
      margin: .25rem;
    }
}

/* ========================= #### RESPONSIVENESS OVERRIDE ========================= */
@media (max-width: 800px) {
    .dataTables_wrapper .datatableContainer_filterResults { width: auto;}
    .dataTables_wrapper .dataTables_filter {margin-top: 0}
}