/* ==========================================================================
   ## Variables
  ========================================================================== */
/*Changed 03.12.21*/
/*
//Inky version
  $nav-color: $inky;
  $module-hover: $inky-dark;
  $module-text: $inky-dark;
  $app-name-color: $inky;
*/
/**/
/* ==========================================================================
   Table of Contents
   ========================================================================== */
/* ==========================================================================
   ## General Navigation
   ========================================================================== */
nav {
  display: grid;
  background-color: #3F4958;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  color: #fefefe;
  font-size: 1.15rem;
}
nav button {
  font-size: 100%;
}
nav a, nav a:visited {
  color: #fefefe;
  border-bottom: 2px solid transparent;
}
nav a:hover, nav a.current, nav button.dropdown-parent:hover, nav button.dropdown.current {
  color: #fefefe;
  border-bottom: 2px solid #fefefe;
}
nav a:focus, nav button:focus {
  outline-color: #fefefe;
  outline-offset: 2px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
nav li {
  display: inline-block;
  padding: 0.5em 1em;
}
@media (min-width: 650px) {
  nav li.current-parent {
    box-sizing: border-box;
    height: 60px;
    border-bottom: 5px solid #c4d4e6;
  }
}
@media (max-width: 650px) {
  nav .navbar-links {
    display: none;
  }
  nav .navbar-links.show {
    display: block;
  }
  nav ul {
    margin: 0 0 1rem 0;
    list-style: none;
    padding-left: 1.5rem;
    width: 100%;
    display: block;
  }
  nav li {
    display: block;
    padding: 1rem 0;
  }
  nav li.current-parent button {
    border-bottom: 2px white solid;
  }
}

.dropdown {
  position: relative;
}

.dropdown-parent {
  background-color: transparent;
  color: #fefefe;
  border: 0;
  padding: 0;
  border-bottom: 2px transparent solid;
}

li.dropdown button.dropdown-parent::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 0.4em;
  content: "";
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #fefefe transparent transparent;
  position: relative;
  top: 0.4em;
  display: inline-block;
  float: right;
  margin-left: 0.5em;
}

@media (min-width: 650px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3F4958;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    width: 100%;
    margin-top: 1rem;
    margin-left: -1rem;
    box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-bottom: 1rem;
  }
  .dropdown-content li {
    display: block;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .dropdown-content {
    display: none;
    padding: 1rem 0 0 1rem;
    margin-bottom: 0;
  }
  .dropdown-content li:last-child {
    padding-bottom: 0;
  }
}
/* ==========================================================================
   ## Right Aligned Navigation Items
   ========================================================================== */
.right-nav {
  border-top: white 2px solid;
  padding-top: 0.5em;
  margin-top: 1.5em;
  margin-right: 3em;
}
.right-nav ul {
  padding-left: 0rem;
}

@media (min-width: 651px) {
  .right-nav {
    float: right;
    padding: 0;
    margin: 0;
    border-top: none;
    padding-right: 1em;
    padding-left: 1em;
    border-left: white 2px solid;
  }
  .right-nav ul {
    padding: 0;
  }
  .right-nav .dropdown-content {
    min-width: 100%;
    overflow-wrap: break-word;
  }
  .right-nav .dropdown-content li {
    width: 75%;
  }
}
/**/
/* ==========================================================================
   ## Mobile Navigation toggle
   ========================================================================== */
.mobile-nav-toggle {
  margin: 1rem 0 1rem 1.5rem;
  width: 100%;
  display: none;
  background: transparent;
  text-align: left;
  color: #fefefe;
  border: transparent;
  background: url(../graphics/hamburger.svg) left center no-repeat;
  background-size: 25px 22px;
  padding-left: 35px;
}

@media (max-width: 650px) {
  .mobile-nav-toggle {
    display: block;
  }
}
.show {
  display: block;
}

/* ==========================================================================
   ## 2-Level Navigation for Site Modules
   ========================================================================== */
.site-modules {
  background: #e6e6e6;
  margin: 0;
  padding-left: 1em;
}

.module {
  display: inline-block;
  font-size: 1.25rem;
}
.module a, .module a.link, .module a:visited {
  display: inline-block;
  margin: 0;
  padding: 0.75rem 1.75rem;
  color: #3F4958;
  border-bottom: 0px;
}
.module a:hover, .module a:focus {
  border-bottom: 0px;
  background-color: #25354a;
  color: #fff;
  transition: background-color 0.1s ease-out;
}
.module a:focus {
  outline-offset: -5px;
  outline-color: #fefefe;
}

.current-module {
  background-color: #3F4958;
}
.current-module a, .current-module a:visited {
  color: #fefefe;
}

/* ==========================================================================
   ## External Links
   ========================================================================== */
.external::before {
  background-image: url(../graphics/external.svg);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  display: inline-block;
  width: 1.5em;
  height: 1em;
  content: "";
}

.external-white::before {
  background-image: url(../graphics/external-white.svg);
}

.external-blue::before {
  background-image: url(../graphics/external-blue.svg);
}

/** Print Styles**/
@media print {
  .app-name {
    font-size: 1rem;
  }
  .wordmark {
    width: 150px;
  }
  .navbar, .logout, .helpbar, .impersonate {
    display: none;
  }
}
/* ==========================================================================
   Table of Contents
   ========================================================================== */
/* ==========================================================================
   ## GLOBAL
  ========================================================================== */
body {
  margin: 0;
}

main {
  padding: 1em;
}

/* ==========================================================================
   ## LINKS
  ========================================================================== */
a, a:hover, a:visited {
  text-decoration: none;
  border-bottom: dotted 1px;
}

a {
  color: #0B558E;
  border-color: #0B558E;
}

a:visited {
  color: #5A2784;
  border-color: #5A2784;
}

a:hover {
  color: #417505;
  border-color: #417505;
  border-bottom: solid 1px;
}

/* ==========================================================================
   ## Impersonate Bar
   ========================================================================== */
.impersonate {
  background-color: #25354a;
  text-align: center;
  padding: 0.5rem 0 0.75rem 0;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
}
.impersonate a {
  color: #fefefe;
  border-color: #fefefe;
}
.impersonate a:focus {
  outline: white dotted 3px;
  outline-offset: 2px;
  border-style: transparent;
}

/* ==========================================================================
   ## HEADER
   ========================================================================== */
header {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  flex-flow: row wrap;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  margin-bottom: 0.5rem;
}

#skip a, #skip-main a, #skip-nav a {
  background: transparent none repeat scroll 0 0;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid white;
  color: white;
  left: 40%;
  padding: 8px;
  position: absolute;
  top: -48px;
  transition: top 1s ease-out 0s, background 1s linear 0s;
  z-index: 100;
  font-size: 0.9rem;
}

#skip a:hover, #skip-main a:hover, #skip-nav a:hover {
  text-decoration: underline;
}

#skip a:focus, #skip-main a:focus, #skip-nav a:focus {
  background: #000 none repeat scroll 0 0;
  outline: 0 none;
  top: 0;
  transition: top 0.1s ease-in 0s, background 0.5s linear 0s;
  color: #fff;
}

.site-identity {
  padding-left: 1em;
  width: 100%;
}
@media (min-width: 750px) {
  .site-identity {
    width: 60%;
  }
}

.wordmark {
  width: 235px;
  height: auto;
  margin-top: 0.25rem;
}

a.wordmark {
  opacity: 0.8;
}

a:hover .wordmark,
a:focus .wordmark {
  opacity: 1;
}

.app-name {
  font-size: 2rem;
  font-weight: 900;
  margin: 0.5rem 0;
}
.app-name a:link {
  color: #3F4958;
}
.app-name a:hover, .app-name a:focus {
  color: #0B558E;
  border-bottom: 2px solid #0B558E;
}
.app-name a:visited {
  color: #3F4958;
}

.account {
  width: 100%;
  text-align: right;
}
@media (min-width: 750px) {
  .account {
    width: 37%;
  }
}

.logout {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 1em;
  padding: 0.75rem 1.4rem;
  -webkit-appearance: none;
  border: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  background-color: #0D78BE;
  color: #fefefe;
}
@media (max-width: 500px) {
  .logout {
    margin-top: 0.75rem;
  }
}

a.logout:focus, a.logout:hover {
  background-color: #0B558E;
  color: #fefefe;
  border: none;
  margin: 0 0 0 1em;
}

a.logout:visited {
  color: #fefefe;
  border: none;
  margin: 0 0 0 1em;
}

.no-nav {
  background-color: #3F4958;
  height: 10px;
}

/* ==========================================================================
   ## FOOTER
   ========================================================================== */
footer {
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
}
footer .helpbar {
  background-color: #E9F1F8;
  padding: 0.5em 0 0.5em 0;
}
footer .policies, footer .helpbar {
  padding-left: 1em;
}
footer .help-guide {
  float: left;
  margin-right: 5rem;
}
@media (max-width: 650px) {
  footer .help-guide {
    width: 100%;
  }
}

/* ==========================================================================
  ## HELPER CLASSES
  ========================================================================== */
a:focus, button:focus {
  outline: #0a0a0a dotted 3px;
  outline-offset: 2px;
  border-style: transparent;
}

a.plainlink:link,
a.plainlink:hover,
a.plainlink:focus {
  text-decoration: none;
  border-bottom-color: transparent;
}

.desktop-display {
  display: none;
}
@media (min-width: 750px) {
  .desktop-display {
    display: block;
  }
}

.mobile-display {
  display: none;
}
@media (max-width: 750px) {
  .mobile-display {
    display: block;
  }
}

.sr-only {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

/* ==========================================================================
  ## WIP
  ========================================================================== */
.wip-table-1 td, .wip-table-2 td, .wip-table-3 td, .wip-table-4 td {
  border-bottom: 1px solid #cacaca;
}

.wip-table-2 td, .wip-table-2 tbody th {
  vertical-align: top;
}

.wip-table-3, .wip-table-4 {
  width: 100%;
}
.wip-table-3 thead th, .wip-table-4 thead th {
  border-bottom: 1px solid black;
}
.wip-table-3 tbody th, .wip-table-4 tbody th {
  border-bottom: 1px solid #cacaca;
}
.wip-table-3 .span, .wip-table-4 .span {
  background-color: #e6e6e6;
}

.wip-table-4 tbody td, .wip-table-4 tbody th {
  vertical-align: top;
  padding: 0.75rem 0.5rem;
}

.table-ex {
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}

/*=============== Grant Report page ================*/
