/* it will work better with this box-sizing, you may adapt it to your needs */
/*html { box-sizing: border-box; }
*, *:before, *:after {
  box-sizing: inherit;
}*/

h1 {
  color: navy;
}

.cell {
  margin: 1rem 0;
}

.hidden {
  display: none;
}


.simple-tooltip-container {
  position: relative;
}

.simple-tooltip-tooltip {
    position: absolute;
    z-index: 666;
    top: 80%;
    left: 50%;
    max-width: 20em;
    border: 1px solid #0D78BE;
    border-radius: .5em;
    padding: 1em;
    text-align: left;
    min-width: 15em;
    background-color: #E9F1F8;
}


.tooltip-title {
    font-size: 1.25rem;
    font-weight: 700;
     margin-bottom: 0;
}

.simple-tooltip-tooltip__close {
    float: right;
    font-size: .8em;
    background-color: #3F4958;
    color: #fff;
    border-radius: 1em;
  }


.simple-tooltip-tooltip__close:hover, 
.simple-tooltip-tooltip__close:focus {
    background-color: #051e35;
}
 

.simple-tooltip-tooltip__close:focus,
.simple-tooltip-tooltip__close:focus-visible {
    outline: 2px dotted #3F4958;
    outline-offset: 2px;
}


.simple-tooltip-tooltip a {
  color: #0A538A; 
  border-color: #0A538A;
}

.simple-tooltip-tooltip a:hover, 
.simple-tooltip-tooltip a:focus {
  color: #305502; 
  border-color: #305502;
}




/* it can be easily adapted in media-queries for tablets/mobile */

/* for this example: tablets */
@media (max-width: 55.625em) {
  .simple-tooltip-container {
    position: static;
  }
  .simple-tooltip-tooltip {
    position: static;
    width: auto;
    margin-top: 1em;
  }
}
