/* =========== DEV HELP =========== */
.hide {
  display: none !important;
}

.bootstrap-version {
  margin: 1rem;
}

/* =========== Standard Chart =========== */
.org-chart h1 {
  background-color: #C4C6C8;
  border: 1px solid #C4C6C8;
  color: #13294B;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.org-chart h2 {
  background-color: #E8E9EA;
  border: 1px solid #C4C6C8;
  color: #13294B;
  padding: 1rem;
  margin: 0 0.75rem 1.5rem;
  font-size: 1.75rem;
}
.org-chart h3 {
  background-color: #13294B;
  color: #FFFFFF;
  padding: 1rem;
  margin: 0 1.5rem 1rem;
  font-size: 1.5rem;
}
.org-chart h4 {
  background-color: #0455A4;
  color: #FFFFFF;
  padding: 1rem;
  margin: 0 2.25rem 0.75rem;
  font-size: 1.25rem;
}
.org-chart .lvl-5 {
  background-color: #F7F9FB;
  border: 1px solid #C4C6C8;
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: #13294B;
  font-weight: bold;
}
.org-chart .lvl-5 ul {
  font-weight: normal;
}
.org-chart .lvl-5 ul li {
  list-style: disc;
}
.org-chart .lvl-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0 3rem 1rem;
  grid-gap: 0.5rem;
}
.org-chart .no-list {
  list-style: none;
  padding: 0;
}

/* =========== Bootstrap tabs =========== */
.org-tab {
  margin: 0 3rem 0.5rem;
}
.org-tab .nav-pills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 0.5rem;
}
.org-tab .nav-pills .nav-link {
  background-color: #F7F9FB;
  border: 1px solid #C4C6C8;
  padding: 1rem;
  color: #13294B;
  height: 100%;
}
.org-tab .nav-pills .nav-link.active {
  background-color: #E8E9EA;
}
.org-tab .tab-content {
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 1rem;
  border: 1px solid #C4C6C8;
}
