/* ==========================================================================
   ## Variables
  ========================================================================== */
  $primary-blue: #0D78BE;
  $primary-dark: #0B558E;
  $primary-bright: #6ABDEA;
  $slate: #3F4958;
  $inky: #25354a;
  $inky-dark: #10213B;
  $icy: #E9F1F8;
  $it-blue: #c4d4e6;
  $green: #4B8502;
  $dark-green: #417505;
  $plum-dark: #5A2784;
  $red: #B12D00;
  $yellow: #ffae00;
  $gold-dark: #E5BD30;

  $black: #0a0a0a;
  $white: #fefefe;
  $light-gray: #e6e6e6;
  $medium-gray: #cacaca;
  $dark-gray: #8a8a8a;

  $link: $primary-dark;
  $link-hover: $dark-green;
  $link-visited: $plum-dark;
  $error: $red;

  $site-spacing: 1em;


/*Changed 03.12.21*/
/*
//Inky version
  $nav-color: $inky;
  $module-hover: $inky-dark;
  $module-text: $inky-dark;
  $app-name-color: $inky;
*/

/**/
//Slate version
  $nav-color: $slate;
  $module-hover: $inky;
  $module-text: $slate;
  $app-name-color: $slate;
