@use 'variables' as *;
@use 'nav' as *;
@use 'print' as *;
//   @import 'devhelp'

/* ==========================================================================
   Table of Contents
   ========================================================================== */
// ## VARIABLE
// ## GLOBAL
// ## LINKS
// ## IMPERSONATE BAR
// ## HEADER
// ## FOOTER
// ## HELPER CLASSES



/* ==========================================================================
   ## GLOBAL
  ========================================================================== */
  body {
    margin: 0;
  }

  main {
    padding: $site-spacing;
  }


/* ==========================================================================
   ## LINKS
  ========================================================================== */
  a, a:hover, a:visited {
    text-decoration: none;
    border-bottom: dotted 1px;
  }

   a {
     color: $link;
     border-color: $link;
   }

   a:visited {
     color: $link-visited;
     border-color: $link-visited;
   }

   a:hover {
     color: $link-hover;
     border-color: $link-hover;
     border-bottom: solid 1px;
   }

/* ==========================================================================
   ## Impersonate Bar
   ========================================================================== */

   .impersonate {
     background-color: $inky;
     text-align: center;
     padding: .5rem 0 .75rem 0;
     font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
     a {
       color: $white;
        border-color: $white;
     }

     a:focus {
       outline: white dotted 3px;
       outline-offset: 2px;
       border-style: transparent;
     }
   }

/* ==========================================================================
   ## HEADER
   ========================================================================== */

   header {
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
    -moz-box-direction: normal;
     flex-flow: row wrap;
     font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
     margin-bottom: .5rem;
   }

  #skip a, #skip-main a, #skip-nav a {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid white;
    color: white;
    left: 40%;
    padding: 8px;
    position: absolute;
    top: -48px;
    transition: top 1s ease-out 0s, background 1s linear 0s;
    z-index: 100;
    font-size: .9rem; }

  #skip a:hover, #skip-main a:hover, #skip-nav a:hover {
    text-decoration: underline;
  }

  #skip a:focus, #skip-main a:focus, #skip-nav a:focus {
    background: #000 none repeat scroll 0 0;
    outline: 0 none;
    top: 0;
    transition: top 0.1s ease-in 0s, background 0.5s linear 0s;
    color: #fff;
  }


  .site-identity {
    padding-left: $site-spacing;
    width: 100%;

    @media(min-width: 750px) {
      width: 60%;
    }
  }

  .wordmark {
    width: 235px;
    height: auto;
    margin-top: .25rem;
  }

  a.wordmark {
    opacity: .8;
  }

  a:hover .wordmark,
  a:focus .wordmark {
    opacity: 1;
  }


  .app-name {
    font-size: 2rem;
    font-weight: 900;
    margin: .5rem 0;

    a:link {
    color: $app-name-color;
    }
    a:hover, a:focus {
      color: $link;
      border-bottom: 2px solid $link;
    }

    a:visited {
      color: $app-name-color;
    }
  }


  .account {
    width: 100%;
    text-align: right;

    @media(min-width: 750px) {
      width: 37%;
    }
  }

  .logout {
    display: inline-block;
     vertical-align: middle;
     margin: 0 0 0 1em;
     padding: .75rem 1.4rem;

     -webkit-appearance: none;

     border: none;

     transition: background-color 0.25s ease-out, color 0.25s ease-out;

     font-size: 1rem;
     line-height: 1;
     text-align: center;

     background-color: $primary-blue;
     color: $white;

     @media (max-width: 500px) {
          margin-top: .75rem;
     }
   }

   a.logout:focus, a.logout:hover {
     background-color: $primary-dark;
     color: $white;
     border: none;
     margin: 0 0 0 1em;
   }

   a.logout:visited {
     color: $white;
     border: none;
     margin: 0 0 0 1em;
   }

   .no-nav {
     background-color: $slate;
     height: 10px;
   }



/* ==========================================================================
   ## FOOTER
   ========================================================================== */
   footer {
     font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;

     .helpbar {
       background-color: $icy;
       padding: .5em 0 .5em 0;
     }

     .policies, .helpbar {
       padding-left: $site-spacing;
     }

     .help-guide {
       float:left;
       margin-right: 5rem;
     }

     @media(max-width: 650px) {
       .help-guide {width: 100%;}
     }
   }


/* ==========================================================================
  ## HELPER CLASSES
  ========================================================================== */
  a:focus, button:focus {
    outline: $black dotted 3px;
    outline-offset: 2px;
    border-style: transparent;
  }

  a.plainlink:link,
  a.plainlink:hover,
  a.plainlink:focus {
    text-decoration: none;
    border-bottom-color: transparent;
  }

  .desktop-display {
    display: none;
    @media(min-width: 750px) {
      display: block;
    }
  }

  .mobile-display {
    display: none;
    @media(max-width: 750px) {
      display: block;
    }
  }

  .sr-only {
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.hidden {display: none}


/* ==========================================================================
  ## WIP
  ========================================================================== */
.wip-table-1, .wip-table-2, .wip-table-3, .wip-table-4 {
  td {
    border-bottom: 1px solid $medium-gray;
  }
}

.wip-table-2 {
  td, tbody th {
    vertical-align: top;
  }

}

.wip-table-3, .wip-table-4  {
  width: 100%;
  thead th {border-bottom: 1px solid black;}
  tbody th {
    border-bottom: 1px solid $medium-gray;

  }
  .span {background-color: $light-gray;}

} 

.wip-table-4 {
  tbody td, tbody th {
    vertical-align: top;
    padding: .75rem .5rem;
  }
}


.table-ex {
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}


/*=============== Grant Report page ================*/